{% extends 'base.html' %}
{% load static %}
{% block title %}Правила{% endblock %}

{% block content %}
    <div class="container mt-10 mb-20">
        <div class="flex flex-col w-full gap-10">
            <h1 class="text-[#2B292C] sm:text-[36px] text-[20px] font-black text-center uppercase">
                Правила
            </h1>
            <div class="shadow-card-shadow bg-[#FFFFFF] flex flex-col gap-5 sm:p-10 p-4 rounded-2xl md:w-[50%] mx-auto">
                <div class="flex items-center gap-[15px]">
                    <span class="font-semibold text-[#2B292C]">Правила Meebuy</span>
                </div>
                <hr class="h-[2px] bg-[#A0A0A0] w-full"/>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-4">
                        <h1 class="text-[#2B292C] text-[18px] font-semibold">{{ rules.title }}</h1>
                    </div>
                    <div class="flex flex-col gap-4">
                        <h6 class="text-[#2B292C] text-[18px] font-semibold">{{ rules.description|safe }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}
