{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="container mt-10 mb-20">
        <div class="flex flex-col w-full gap-10">
            <h1 class="text-[#2B292C] sm:text-[36px] text-[20px] font-black text-center uppercase">
                {{ page.title }}
            </h1>
            <div class="shadow-card-shadow bg-[#FFFFFF] flex flex-col gap-10 sm:p-10 p-4 rounded-2xl md:w-[70%] mx-auto", style="max-width: 100%">
                <div class="flex items-center gap-[15px]">
                    <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/prev-arrow.svg' %}" alt=""/></a>
                    <span class="font-semibold text-[#2B292C]">На главную</span>
                </div>
                <hr class="h-[2px] bg-[#A0A0A0] w-full"/>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-4">
                        <h1 class="text-[#2B292C] text-[18px] font-semibold">{{ page.title }}</h1>
                    </div>
                    <div class="flex flex-col gap-4">
                        <h6 class="text-[#2B292C] text-[18px] font-semibold">{{ page.description|safe }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}
