
.label {
    font-size: 18px;
    font-weight: 600;
    color: #2B292C;
    line-height: 27px;
}

.tooltip {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    margin-top: 20px;
}

input[type="email"] {

    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 19px 20px;
    color: #2B292C;
    font-size: 14px;
    background: #F9F9F9;
    border-radius: 15px;
}

@media (min-width: 992px) {
    input[type="email"] {
        margin-top: 26px;
    }
}