{% extends 'base.html' %}
{% load static %}
{% load humanize %}

    {% block title %}Личный кабинет{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'pages/profile/messages/index.css' %}">
    {% endblock %}
{% block content %}
<nav class="breadcrumbs bg-[#FFFFFC]">
    <div class="container">
        <div class="">
            <div class="flex gap-4 py-4">
                <div class="flex items-center gap-4">
                    <img src="{% static 'assets/images/icons/home.svg' %}" alt=""/>
                    <img src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt=""/>
                </div>
                <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
            </div>
        </div>
    </div>
</nav>
<main class="profile-myCompany">
    <section class="heading">
        <div class="container">
            <h1 class="font-black text-dark-logo text-lg uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl">
                личный кабинет</h1>
        </div>
    </section>
    <div class="container">
        <div class="lg-md:grid grid-cols-3  pb-[100px] lg-md:pb-[120px] lg-md:gap-5 xl:grid-cols-4">
            <!--  this section is for avatar  -->
            <section class="profile__navigate mt-[30px] lg-md:mt-[50px]">
                <div class="shadow-card-shadow rounded-[10px] px-5 py-[15px]">
                    <!-- upload avatar-->
                    <div class="upload__avatar text-center flex justify-center">
                        <div class="relative">
                            <img class="absolute right-0 bottom-0"
                                 src="{% static 'assets/images/icons/camera-outline.svg' %}"
                                 alt="">
                            <form class="rounded-full overflow-hidden  w-20 h-20" action="">
                                    <label for="upload" class="h-full flex-col items-center gap-2 cursor-pointer">
                                        {% if user.provider.image %}

                                        <img class="object-cover h-full" id="avatar"
                                             src="{{ user.provider.image.url }}" alt="">
                                        {% else %}
                                        <img class="object-cover h-full" id="avatar"
                                             src="{% static 'assets/images/icons/Avatar.svg' %}" alt="">
                                        {% endif %}
                                    </label>
                                    {% csrf_token %}
                                    <input id="upload" type="file" class="hidden"/>
                                </form>
                        </div>
                    </div>
                    <h2 class="text-center text-lg font-semibold mt-2.5">
                        {{ user.first_name }} {{  user.last_name }}
                    </h2>
                    <!-- dropdown menu-->
                    <div class="dropdown mt-[30px] px-2.5 py-[15px] btn-outlined border-[#A0A0A080] hover:bg-transparent lg-md:hidden">
                        <button class="dropdown__btn px-2.5 w-full  flex items-center justify-between text-dark-text">
                            <p class="text-lg font-bold">Моя компания</p>
                            <img class="w-5 h-5" src="{% static 'assets/images/icons/ios-arrow.svg' %}" alt="">
                        </button>
                        <ul class="dropdown__menu h-0 text-dark-text overflow-hidden transition-all duration-300 ease-in text-lg">
                            <li class="dropdown__item">
                                <a href="/pages/profile/purchases/myCompany.html">Закупки</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/products/myCompany.html">Товары</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/messages/myCompany.html">Сообщения</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/statistics/myCompany.html">Статистика</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/premiumRates/myCompany.html">Premium тарифы</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/settings/myCompany.html">Настройки аккаунта</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/balance/myCompany.html">Баланс</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/favorites/myCompany.html">Избранные</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/pages/profile/supportService/myCompany.html">Служба поддержки</a>
                            </li>
                        </ul>
                    </div>
                    <!-- dropdown menu end-->
                    <!-- desktop menu-->
                    <div class="hidden lg-md:block">
                        <ul class="flex flex-col">
                            <li class="dropdown__item">
                                <a href="{% url 'view_profile' %}">Моя компания</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'user_tenders' %}">Закупки</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'user_products' %}">Товары</a>
                            </li>
                            <li class="dropdown__item active">
                                <a href="{% url 'chat_list' %}">Сообщения</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'analytic' %}">Статистика</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'tariffs' %}">Premium тарифы</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'settings' %}">Настройки аккаунта</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'balance' %}">Баланс</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="{% url 'favorites' %}">Избранные</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="">Служба поддержки</a>
                            </li>
                        </ul>
                    </div>
                    <!-- desktop menu end-->
                </div>
            </section>
            <div class="lg-md:col-span-2 xl:col-span-3">
                <!-- these sections are for main content  -->
                <section class="main-content mt-[30px] h-[calc(100%-50px)] lg-md:mt-[50px]">
                    <!-- tabs  -->
                    <div class="tabs__wrapper">
                        <button onclick="openTab(event,'Tab1')"
                                class="tabs__item transition-colors active btn-filled-yellow-light py-2 px-2.5 text-nowrap">
                            Входящие
                        </button>
                        <button onclick="openTab(event,'Tab2')"
                                class="tabs__item transition-colors btn-filled-yellow-light py-2 px-2.5 text-nowrap">
                            Избранные
                        </button>
                        <button onclick="openTab(event,'Tab3')"
                                class="tabs__item transition-colors btn-filled-yellow-light py-2 px-2.5 text-nowrap">
                            Удаленные
                        </button>
                    </div>
                    <!-- tabs end  -->
                    <div id="Tab1"
                         class="card__wrapper h-[calc(100%-70px)] tab-content shadow-card-shadow rounded-[10px] mt-[30px] lg-md:p-5 xl:p-10">
                        {% for i in chat_details %}
                        <a href="{% url 'chat_detail' i.chat.pk %}" class="card__item flex shadow-card-shadow flex-col lg-md:rounded-[15px] !py-5 relative lg-md:!p-5 lg-md:flex-row lg-md:items-center lg-md:gap-4">
                            <!-- logo  -->
                            <div class="w-[30px] h-[30px] rounded-full overflow-hidden lg-md:w-10 lg-md:h-10">
                                {% if user.buyer.image %}
                                <img class="w-full h-full object-cover"
                                     src="{{ i.chat.user_second.buyer.image.url }}" alt="">
                                {% else %}
                                {% if i.chat.user_second.provider.image %}
                                <img class="w-full h-full object-cover"
                                     src="{{ i.chat.user_second.provider.image.url }}" alt="">
                                {% else %}
                                <img class="w-full h-full object-cover"
                                     src="{% static 'assets/images/icons/Avatar.svg' %}" alt="">
                                {% endif %}
                                {% endif %}

                            </div>
                            <!-- logo end  -->
                            <!-- item title and description  -->
                            <div class="lg-md:flex lg-md:flex-col">
                                <p class="text-[#222222] mt-5 text-lg">{{ i.chat.user_second }}</p>
                                <p class="text-grey-light mt-[14px] line-clamp-2 lg-md:line-clamp-1">{{ i.last_message }}</p>
                            </div>
                            <!-- item title and description end  -->
                            <!-- content with position  -->
                            <img class="absolute top-2.5 right-5 cursor-pointer"
                                 src="{% static 'assets/images/icons/pencil_dots-y.svg' %}" alt="">
                            <p class="text-right mt-5 lg-md:absolute text-grey-light right-5 bottom-5">{{ i.last_message|naturaltime }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

{% endblock %}
{% block js %}
<script src="{% static 'pages/profile/messages/index.js' %}"></script>
<script src="{% static 'pages/profile/profile.js"></script>
{% endblock %}