{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Личный кабинет{% endblock %}

    {% block css %}
{#    <link rel="stylesheet" href="{% static 'styles.css' %}">#}
    <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'pages/profile/messages/chat/index.css' %}">
    {% endblock %}

{% block content %}
<nav class="breadcrumbs bg-[#FFFFFC]">
    <div class="container">
        <div class="">
            <div class="flex gap-4 py-4">
                <div class="flex items-center gap-4">
                    <img src="{% static 'assets/images/icons/home.svg' %}" alt=""/>
                    <img src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt=""/>
                </div>
                <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
            </div>
        </div>
    </div>
</nav>
<main class="profile-myCompany">
    <section class="heading">
        <div class="container">
            <h1 class="font-black text-dark-logo text-lg uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl">
                личный кабинет</h1>
        </div>
    </section>
    <div class="container">
        <div class="lg-md:grid grid-cols-3  pb-[100px] lg-md:pb-[120px] lg-md:gap-5 xl:grid-cols-4">
            <!--  this section is for avatar  -->
                {% include 'cabinet/cabinet_includes/menu.html' with active_page='chat_list'  %}
            <div class="lg-md:col-span-2 xl:col-span-3">
                <!-- these sections are for main content  -->
                <section class="main-content mt-[30px] h-full lg-md:mt-[50px]">
                    <div id="Tab1"
                         class="card__wrapper flex flex-col h-[calc(100%-70px)] tab-content shadow-card-shadow rounded-[10px] mt-[30px] py-[25px] px-5">
                        <div class="">
                            <a class="flex items-center gap-2.5 pb-[28px] lg-md:pb-[30px] border-b border-b-grey-light font-semibold text-dark-logo lg-md:gap-[15px] lg-md:text-lg"
                               href="{% url 'chat_list' %}">
                                <img src="{% static '/assets/images/icons/prev-arrow.svg' %}" alt="">
                                {% if chat.user_second.provider.title %}
                                    {{ chat.user_second.provider.title }}
                                {% else %}
                                    Назад
                                {% endif %}
                            </a>
                        </div>
                        <div id="messageContainer" style="min-height: 440px;" class="flex flex-col h-full max-h-[440px] overflow-scroll px-[3px] py-[25px]">

                            {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="shadow-card-shadow py-[14px] px-2.5 mt-[25px] rounded-[20px] bg-[#FBFBFB] rounded-br-none lg-md:max-w-[426px] ml-auto">
                                <p>{{ message.content }}</p>
                                <div class="text-right text-[#747474] text-sm">{{ message.created_at|naturaltime }}</div>
                            </div>
                            {% else %}
                            <div class="shadow-card-shadow py-[14px] px-2.5 mt-[25px] rounded-[20px] rounded-tl-none lg-md:max-w-[427px] lg-md:bg-[#FFFEDF]">
                                <p>{{ message.content }}</p>
                                <div class="text-right text-[#747474] text-sm">{{ message.created_at|naturaltime }}</div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="flex items-center gap-4 mt-auto">
                            <textarea id="messageInput" class="border border-[#515151] rounded-[10px] pt-3 flex-grow px-5" type="text" placeholder="Введите сообщение"></textarea>
                            <button onclick="sendMessage()" ><img src="{% static 'assets/images/icons/circle-arrow-yellow.svg' %}" alt=""></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<script>
  var ws = new WebSocket(`wss://${window.location.host}/ws/socket-server/chat/{{ chat.id }}`);


  ws.onopen = function() {
    console.log("Connected to the chat server.");
    messageContainer.scrollTop = messageContainer.scrollHeight; // Scroll to the bottom
  };

  ws.onmessage = function(event) {
    var data = JSON.parse(event.data);
    console.log(data);
    const userEmail = "{{ user.email }}";
    var messageContainer = document.getElementById("messageContainer");
    var messageElement = document.createElement("div");
<!--    var formattedTime = timestamp.toLocaleString('ru-RU', { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit' }).replace('.', '');-->
    const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });

    if (data.message.user === userEmail) {

        messageElement.innerHTML = `
            <div class="shadow-card-shadow py-[14px] px-2.5 mt-[25px] rounded-[20px] bg-[#FBFBFB] rounded-br-none lg-md:max-w-[426px] ml-auto">
                <p>${data.message.message}</p>
                <div class="text-right text-[#747474] text-sm">${currentTime}</div>
            </div>`;
    } else {
        messageElement.innerHTML = `
            <div class="shadow-card-shadow py-[14px] px-2.5 mt-[25px] rounded-[20px] rounded-tl-none lg-md:max-w-[427px] lg-md:bg-[#FFFEDF]">
                <p>${data.message.message}</p>
                <div class="text-right text-[#747474] text-sm">${currentTime}</div>
            </div>`;
    }
    messageContainer.appendChild(messageElement);
    messageContainer.scrollTop = messageContainer.scrollHeight; // Scroll to the bottom
  };

  ws.onerror = function(error) {
    console.log("WebSocket error: " + error);
  };

  ws.onclose = function(event) {
    console.log("Disconnected from the chat server.");
  };

  function sendMessage() {
    var input = document.getElementById("messageInput");
    if (ws.readyState === WebSocket.OPEN && input.value.trim() !== "") {
        ws.send(JSON.stringify({
            'message': input.value,
            'user': "{{ user.id }}"
        }));
        input.value = ""; // Clear input after send
        messageContainer.scrollTop = messageContainer.scrollHeight; // Scroll to the bottom
    }
}

  document.getElementById("messageInput").addEventListener("keypress", function(e) {
    if (e.key === "Enter") {
      sendMessage();

    }
  });
  ws.onclose = function(event) {
    console.log("Disconnected from the chat server. Code:", event.code, "Reason:", event.reason);
    // Здесь можно добавить код для переподключения или уведомления пользователя
};

ws.onerror = function(error) {
    console.log("WebSocket error:", error);
    // Обработка ошибки, например, показ уведомления
};
</script>
{% endblock %}
{% block js %}
<script src="{% static 'pages/home/index.js' %}"></script>
<script src="{% static 'pages/profile/profile.js' %}"></script>
{% endblock %}