{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/suppliers/products/products.css' %}">
{% endblock %}


{% block title %}
Продукт
{% endblock %}
{% block content %}

<nav class="bg-[#FFFFFC]">
  <div class="container">
    <div class="">
      <div class="flex gap-4 py-4">
        <div class="lg-md:flex hidden items-center gap-4">
          <a href="/"><img src="{% static 'assets/images/suppliers/icons/home.svg' %}" alt="" /></a>
            <a href="/provider/list/"><img src="{% static 'assets/images/icons/arrow-prev.svg' %}"  alt="" /></a>
              <a href="/provider/list/" class="font-normal font-mulish text-[#A0A0A0]">Поставщики</a>
        </div>
        <img src="{% static 'assets/images/icons/arrow-prev.svg' %}"  alt="" />
            <a href="/provider/detail/{{ product.provider.pk }}/" class="font-normal font-mulish text-[#A0A0A0]">
                {% if product.provider.title %}
                    {{ product.provider.title }}
                {% else %}
                    Поставщик
                {% endif %}
            </a>
            <img src="{% static 'assets/images/icons/arrow-prev.svg' %}"  alt="" />
            <p class="font-normal font-mulish text-[#A0A0A0]">{{ product.title }}</p>
      </div>
    </div>
    <div
      class="cards flex items-center gap-6 bg-[#ffffff] p-5 rounded-2xl mt-8 mb-16"
    >

      <div class="flex gap-5 items-center">
        <img
          class="w-[50px] h-[50px] rounded-full"
          src="{% if product.provider.image %}{{ product.provider.image.url }}{% else %}{% static 'assets/images/logo_4.svg' %}{% endif %}"
          alt=""
        />
        <a href="/provider/detail/{{ product.provider.pk }}/" class="font-black font-mulish">
        {% if product.provider.title %}
            {{ product.provider.title }}
        {% else %}
            Поставщик
        {% endif %}
        </a>
      </div>
        <div class="lg-md:flex hidden items-center gap-5 text-[14px]">
          <p class="font-medium">{{ product.provider.mini_desc }}</p>
          <div class="flex items-center gap-2 text-[#4D4D4D]">
            <img
              class="text-[#4D4D4D]"
              src="{% static 'assets/images/icons/location.svg' %}"
              alt=""
            />
            <p class="text-[#4D4D4D]">
              {% if product.provider.city %}
                {{ product.provider.city }}
              {% endif %}
            </p>

            {% if product.provider.is_modered %}

              <img
                class="ml-4 w-4  h-4"
                src="{% static 'assets/images/icons/checkmark.svg' %}"
                alt=""
                style="width: 20px; height: 20px;"
              />
            <span>Прошел модерацию</span>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</nav>

<main>
  <div class="container flex md:flex-row flex-col gap-14 mb-18">
    <!-- left side -->
    <div class="lg-md:sticky-left">
      <div
        class="fixed flex sticky-left left-0 top-0 z-0 flex-col lg-md: items-center gap-7" style="z-index: 49"
      >
        <img
          class="w-[350px] rounded-[10px]"
          src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'assets/images/logo_4.svg' %}{% endif %}"
          alt=""
          id="main-image"
          style="width: 350px;height: 350px;object-fit: cover"
        />
        <!-- slider -->
        <div id="thumbnails"
          class="mt-5 mb-7 relative lg-md:w-[357px] w-[340px] lg-md:h-[82px] h-[80px]"
        >
          <img
            style="left: -16px"
            class="swiper-button-prev prev"
            src="{% static 'assets/images/icons/prev.svg' %}"
            alt=""
            aria-disabled="false"
          />
          <div class="swiper swiper1">
            <div class="swiper-wrapper ml-4">
              {% for image in product.images.all %}
              <div class="swiper-slide">
                <img
                  class="rounded-xl lg-md:w-[92px] lg-md:h-[82px] h-[80px]"
                  src="{{ image.image.url }}"
                  alt=""
                />
              </div>
              {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
          </div>
          <img
            style="right: -16px"
            class="swiper-button-next absolute"
            aria-disabled="false"
            src="{% static 'assets/images/icons/next.svg' %}"
            alt=""
          />
{#          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>#}

          <!-- Initialize Swiper -->
        </div>

            <!-- provider contacts -->
          {% include 'products/product_detail_includes/provider_contacts.html' %}
      </div>
    </div>
    <!-- right side -->
    {% include 'products/product_detail_includes/product_info.html' %}
  </div>
</main>

{% include 'products/product_detail_includes/similar_products.html' %}
{% endblock %}
{% block js %}
<script src="{% static './pages/suppliers/products/product.js' %}"></script>
{% endblock %}