version: "3.10"

services:
  db:
    image: postgres:latest
    restart: always
    env_file:
      - .env

    volumes:
      - "./postgres:/var/lib/postgresql/data"

  app:
    build: .
    volumes:
      - .:/core
      - ./apps/static:/app/static
      - ./apps/media:/app/media
    ports:
    - "8014:8014"
    command: bash -c "python manage.py collectstatic --no-input && python manage.py makemigrations && python manage.py migrate && gunicorn core.wsgi:application -w 4 -b 0.0.0.0:8014"

    env_file:
      - .env
    depends_on:
      - db
