@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mulish;
  }
  input {
    @apply outline-none;
  }
}

@layer components {
  .btn-filled {
    @apply bg-logo-color border-none hover:bg-[#E7E373] ease-in-out duration-300 rounded-lg  text-dark-logo text-base;
  }
  .btn-outlined {
    @apply bg-white  text-dark-logo border border-dark-logo hover:bg-dark-logo hover:text-white ease-in-out duration-300 rounded-lg text-base;
  }
  .section__title {
    @apply uppercase text-dark font-black text-center;
  }
  .btn-filled-yellow {
    @apply bg-[#E4DB00] border border-[#E4DB00] rounded-[7px] text-dark-logo;
  }
  .btn-filled-yellow-light {
    @apply bg-[#FFFB98] border border-[#FFFB98] rounded-[15px] text-dark-logo;
  }
}
