{% load static %}
<div class="flex flex-col md:flex-row mt-[50px] justify-between items-center">
    <div class="flex items-center gap-5">
        <div class="flex items-center gap-2">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" id="prevPagee" class="flex items-center">
                <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" alt="Назад" class="w-4 h-4 sm:w-6 sm:h-6">
            </a>
            <p id="prevPage" class="cursor-pointer hidden sm:block"><a href="?page={{ page_obj.previous_page_number }}">Назад</a></p>
            {% else %}
            <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" alt="Назад" id="prevPagee" class="w-4 h-4 sm:w-6 sm:h-6">
            <p id="prevPage" class="cursor-pointer hidden sm:block">Назад</p>
            {% endif %}
        </div>
        <ul class="pagination flex gap-2 items-center" id="pagination">
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page active"><a href="?page={{ num }}" class="text-blue-600">{{ num }}</a></li>
            {% else %}
            <li class="page"><a href="?page={{ num }}" class="text-gray-600">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="flex items-center gap-2">
            {% if page_obj.has_next %}
            <p id="nextPage" class="cursor-pointer hidden sm:block"><a href="?page={{ page_obj.next_page_number }}">Вперед</a></p>
            <a href="?page={{ page_obj.next_page_number }}" id="nextPagee" class="flex items-center">
                <img src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Вперед" class="w-4 h-4 sm:w-6 sm:h-6">
            </a>
            {% else %}
            <p id="nextPage" class="cursor-pointer hidden sm:block">Вперед</p>
            <img src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Вперед" id="nextPagee" class="w-4 h-4 sm:w-6 sm:h-6">
            {% endif %}
        </div>
    </div>
    <div class="flex items-center gap-3 mt-5 md:mt-0">
        <p>Перейти на страницу</p>
        <form class="flex gap-4 items-center" method="get">
            <input type="number" name="page" class="border border-[#A0A0A0] rounded-[5px] w-[89px] h-10 pl-4">
            <button type="submit">
                <img class="bg-[#FFFCB7] p-2 rounded-[5px]" src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Перейти">
            </button>
        </form>
    </div>
</div>
