.cards {
  box-shadow: #b1b1b14d 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
input[type="radio"] {
  accent-color: #000 !important;
  color: white !important;
}
/* spacing */

table {
  border-collapse: collapse;
}
thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}
thead th:nth-child(5) {
  width: 10%;
}
th,
td {
  padding: 10px;
}
thead tr {
  text-align: start;
  border-bottom: 1px solid #a0a0a0;
  padding: 0;
  margin: 0;
}
tbody td {
  text-align: center;
}
@media screen and (max-width: 640px) {
  tr:last-child {
    border-bottom: none;
  }
  td {
    padding: 0;
    margin: 0;
  }
}
.confirm_tarif_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
  z-index: 9;
}
