{% extends 'base.html' %}
{% load static %}

{% block title %}
    Покупатель
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/supplierDetail/index.css' %}">
{% endblock %}

{% block content %}
    <main class="supplier__detail">
        <nav class="bg-[#FFFFFC]">
            <div class="container">
                <div class="">
                    <div class="flex gap-4 py-4">
                        <div class="lg-md:flex hidden items-center gap-4">
                            <a href="/"><img src="{% static 'assets/images/icons/home.svg' %}" alt=""/></a>
                            <img src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt=""/>
                        </div>
                        <a href="/buyer/list/" class="font-normal font-mulish text-[#A0A0A0]">Покупатели</a>
                        <img src="{% static 'assets/imagifes/icons/arrow-prev.svg' %}" alt=""/>
                        <p class="font-normal font-mulish text-[#A0A0A0]">{{ object.provider.title }}</p>
                    </div>
                </div>
            </div>
        </nav>
        <section class="supplier__detail-top">
            <div class="container">
                <div class="lg-md:flex gap-7">
                    <div
                            class="cards flex flex-col relative gap-6 bg-[#ffffff] p-5 rounded-2xl mt-8 mb-7 shadow-card-shadow lg-md:w-3/5 lg-md:mt-0 lg-md:mb-0 xl:p-[46px]">
                        <!-- icons -->
                        <div class="absolute right-4 top-4 flex items-center gap-1.5 lg-md:hidden">
                            {% if object.is_recommended %}
                                <img class="cursor-pointer" src="{% static 'assets/images/icons/premium.svg' %}" alt="">
                            {% endif %}
                            {#                            <svg class="cursor-pointer transition-colors" id="heart1" width="36" height="36"#}
                            {#                                viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">#}
                            {#                                <rect width="36" height="36" rx="18" fill="#2B292C"></rect>#}
                            {#                                <path#}
                            {#                                    d="M17.5014 11.3247C18.4725 10.4394 19.7396 9.96659 21.0424 10.0033C22.3452 10.04 23.5847 10.5835 24.5062 11.522C25.4269 12.4595 25.9606 13.7201 25.9979 15.0455C26.0352 16.3709 25.5732 17.6606 24.7068 18.6502L17.4997 26L10.2944 18.6502C9.42684 17.6601 8.96446 16.3693 9.00213 15.0428C9.03981 13.7164 9.57469 12.455 10.497 11.5175C11.4192 10.5801 12.6589 10.0378 13.9615 10.0019C15.2641 9.96603 16.5307 10.4393 17.5014 11.3247Z"#}
                            {#                                    fill="currentColor"></path>#}
                            {#                                <path#}
                            {#                                    d="M17.7397 10.4902C18.8522 9.49437 20.3039 8.96241 21.7965 9.0037C23.289 9.04499 24.7091 9.65638 25.7648 10.7122C26.8196 11.7669 27.4311 13.1852 27.4738 14.6762C27.5165 16.1672 26.9873 17.6181 25.9946 18.7315L17.7378 27L9.48289 18.7315C8.48901 17.6176 7.95928 16.1654 8.00245 14.6732C8.04561 13.1809 8.6584 11.7618 9.71501 10.7072C10.7716 9.6526 12.1919 9.04248 13.6842 9.00214C15.1765 8.96179 16.6277 9.49426 17.7397 10.4902ZM24.3861 12.0881C23.6827 11.3852 22.7369 10.9781 21.7429 10.9504C20.7489 10.9227 19.782 11.2765 19.0406 11.9391L17.7407 13.1056L16.4399 11.9401C15.7015 11.2798 14.7393 10.9257 13.749 10.9497C12.7588 10.9738 11.815 11.3743 11.1095 12.0697C10.4041 12.765 9.99017 13.703 9.95189 14.6928C9.91361 15.6826 10.2539 16.6498 10.9035 17.3975L17.7387 24.2435L24.574 17.3985C25.2209 16.654 25.5612 15.6919 25.5263 14.7063C25.4914 13.7206 25.0839 12.7849 24.3861 12.0881Z"#}
                            {#                                    fill="#E4DB00"></path>#}
                            {#                            </svg>#}
                        </div>
                        <div class="flex gap-5 items-center lg-md:justify-center">
                            <img class="w-1/2"
                                 src="{% if object.provider.image %}{{ object.provider.image.url }}{% endif %}" alt="">
                        </div>
                        <div
                                class="items-center gap-5 text-[14px] uppercase lg-md:flex lg-md:flex-col lg-md:items-start lg-md:gap-5 xl:mt-10">
                            <div class="lg-md:flex items-center gap-7">
                                <p class="font-black text-lg font-mulish lg-md:text-[26px] xl:text-3xl">{{ object.provider.title }}</p>
                                <div class="hidden lg-md:flex items-center gap-[10px]">
                                    {% if object.is_recommended %}
                                        <img class="w-6 h-6 cursor-pointer"
                                             src="{% static 'assets/images/icons/premium.svg' %}"
                                             alt="">
                                    {% endif %}

                                    {#                                    <svg  class="transition-colors w-6 h-6 cursor-pointer {% if object.provider in user.cabinet.favorite_providers.all %}text-logo-color{% endif %}" id="heart2" width="40"#}
                                    {#                                        height="40" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">#}
                                    {#                                        <rect width="36" height="36" rx="18" fill="#2B292C"></rect>#}
                                    {#                                        <path#}
                                    {#                                            d="M17.5014 11.3247C18.4725 10.4394 19.7396 9.96659 21.0424 10.0033C22.3452 10.04 23.5847 10.5835 24.5062 11.522C25.4269 12.4595 25.9606 13.7201 25.9979 15.0455C26.0352 16.3709 25.5732 17.6606 24.7068 18.6502L17.4997 26L10.2944 18.6502C9.42684 17.6601 8.96446 16.3693 9.00213 15.0428C9.03981 13.7164 9.57469 12.455 10.497 11.5175C11.4192 10.5801 12.6589 10.0378 13.9615 10.0019C15.2641 9.96603 16.5307 10.4393 17.5014 11.3247Z"#}
                                    {#                                            fill="currentColor"></path>#}
                                    {#                                        <path#}
                                    {#                                            d="M17.7397 10.4902C18.8522 9.49437 20.3039 8.96241 21.7965 9.0037C23.289 9.04499 24.7091 9.65638 25.7648 10.7122C26.8196 11.7669 27.4311 13.1852 27.4738 14.6762C27.5165 16.1672 26.9873 17.6181 25.9946 18.7315L17.7378 27L9.48289 18.7315C8.48901 17.6176 7.95928 16.1654 8.00245 14.6732C8.04561 13.1809 8.6584 11.7618 9.71501 10.7072C10.7716 9.6526 12.1919 9.04248 13.6842 9.00214C15.1765 8.96179 16.6277 9.49426 17.7397 10.4902ZM24.3861 12.0881C23.6827 11.3852 22.7369 10.9781 21.7429 10.9504C20.7489 10.9227 19.782 11.2765 19.0406 11.9391L17.7407 13.1056L16.4399 11.9401C15.7015 11.2798 14.7393 10.9257 13.749 10.9497C12.7588 10.9738 11.815 11.3743 11.1095 12.0697C10.4041 12.765 9.99017 13.703 9.95189 14.6928C9.91361 15.6826 10.2539 16.6498 10.9035 17.3975L17.7387 24.2435L24.574 17.3985C25.2209 16.654 25.5612 15.6919 25.5263 14.7063C25.4914 13.7206 25.0839 12.7849 24.3861 12.0881Z"#}
                                    {#                                            fill="#E4DB00"></path>#}
                                    {#                                    </svg>#}
                                </div>
                            </div>
                            <p class="font-medium text-sm my-[20px] lg-md:my-0 xl:text-lg">{{ object.provider.mini_desc }}</p>
                            {% if object.provider.address %}
                                <div class="flex gap-2 text-base text-[#4D4D4D] normal-case xl:text-lg">
                                    <img class="text-[#4D4D4D]" src="{% static 'assets/images/icons/location.svg' %}"
                                         alt="Location"/>
                                    <p class="text-[#4D4D4D]">{{ object.provider.address }}</p>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="w-full">
                        <div class="grid grid-cols-3 gap-4">
                            {% for image in images %}
                                <div class="rounded-[15px] overflow-hidden aspect-square"><img
                                        src="{% if image.image %}{{ image.image.url }}{% endif %}" alt=""></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="supplier__detail-products mt-12 lg:mt-20">
            <div class="container">
                <div>
                    <div class="flex gap-4">
                        <!-- active = bg-yellow-second -->
                        <div class="filterBy border uppercase bg-yellow-second border-yellow-second rounded-[15px] font-bold text-dark-logo py-2 px-2.5 cursor-pointer">
                            Закупки
                        </div>

                    </div>
                    <div class="mt-5">
                        <ul class="flex flex-col gap-4 text-[#9A9A9A]">
                            {% for tender in user.tenders.all %}
                                <a href="{% url 'tender_detail' tender.id %}"></a>
                                <li class="filterBy border border-yellow-second rounded-[15px] font-bold text-dark-logo py-2 px-2.5 cursor-pointer">
                                    <span class="mr-2 text-sm lg:text-base lg-md:text-lg font-bold">{{ tender.title }}</span>
                                    <p class="text-[#9A9A9A] text-sm font-light">{{ tender.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="grid grid-cols-2 gap-4 mt-5 lg-md:grid-cols-3 lg:mt-10">
                        {% for product in products %}
                            <div class="card shadow-card-shadow rounded-[10px] p-[10px] w-full relative lg:p-5">
                                <div
                                        class="badge absolute top-2.5 left-2.5 bg-[#E74040] text-white py-1 px-2 rounded-[10px] text-sm lg:top-10 lg:left-10 lg:text-base">
                                    NEW
                                </div>
                                <img class="rounded-[10px] w-full object-cover aspect-video lg:aspect-square"
                                     src="{{ product.image.url }}" alt="Изображение товара">
                                <h2 class="mt-2 font-bold line-clamp-1 lg:text-lg lg:mt-[26px]">{{ product.title }}
                                </h2>
                                <p class="text-[#737373] line-clamp-2 lg:mt-[26px]">
                                    {{ product.description|truncatechars:100 }}</p>
                                <div class="text-dark-text text-lg font-light mt-3 lg:mt-[26px]">
                                    Цена: <span class="text-dark-logo font-bold">{{ product.price }}</span>
                                </div>
                                <button class="btn-filled py-2 w-full mt-5 lg:mt-[26px]">
                                    <a href="/product/detail/{{ product.id }}/">Подробнее</a>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <p class="text-end text-base text-dark-text mt-5 lg:text-lg lg:mt-[30px]"><a
                            href="{% url 'buyer_list' %}">Смотреть всех покпателей</a></p>
                </div>
            </div>
        </section>
        <section class="supplier__detail-company__info mt-12 lg:mt-20">
            <div class="container">
                <div class="grid grid-cols-1 gap-[30px] lg-md:grid-cols-2">
                    <div class="content__wrap px-5 py-[30px] text-dark-logo rounded-[10px]">
                        <h2 class="text-xl font-bold">О компании</h2>
                        <p class="description text-dark-text mt-5 lg:mt-[30px] break-words">{{ object.provider.description }}</p>
                        <ul class="">
                            {% include 'buyer/buyer_includes/infos.html' %}
                        </ul>
                    </div>
                    {% include 'buyer/buyer_includes/contacts.html' %}
                </div>
            </div>
        </section>
        <section class="supplier__detail-simila__companies my-[100px] lg:my-[120px]">
            <div class="container relative pb-16">
                <h2 class="font-bold text-dark-logo uppercase lg-md:text-xl">Похожие покупатели</h2>
                <div class="swiper supplier__detail-slider mt-[30px] lg:mt-10">
                    <div class="swiper-wrapper">

                        {% for buyer in buyers %}
                            <div class="swiper-slide">
                                <div
                                        class="card m-[1px] shadow-card-shadow flex flex-col relative p-[20px] rounded-[15px]">
                                    <div
                                            class="w-[30%] aspect-square rounded-[10px] overflow-hidden lg-md:w-[135px] lg-md:h-[135px] lg-md:mx-auto lg-md:rounded-full">
                                        <img class="w-full h-full object-cover"
                                             src="{% static 'assets/images/home/headphones-white.svg' %}" alt=""/>
                                    </div>
                                    <div class="mt-6">
                                        <div>
                                            <h6 class="pb-2 text-[18px] font-bold line-clamp-1">
                                                {{ buyer.title }}
                                            </h6>
                                            <p class="text-base text-dark-logo line-clamp-2">
                                                {{ buyer.mini_desc }}
                                            </p>
                                            <p
                                                    class="hidden lg-md:flex text-sm text-[#868686] font-normal mt-[18px]">
                                                <img class="mr-[6px]"
                                                     src="{% static 'assets/images/home/headphones-white.svg' %}"
                                                     alt=""/>
                                                {{ buyer.city }} {{ buyer.city.region.country }}
                                            </p>
                                        </div>

                                        <div class="flex mt-4 gap-4">
                                            <a class="flex-grow text-center btn-filled py-[7px] w-full"
                                               href="{% url 'buyer_detail' object.user.id %}">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'pages/supplierDetail/index.js' %}"></script>
    <script>
        const slider = new Swiper('.supplier__detail-slider', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            mousewheel: {
                enabled: true,
                sensitivity: 2,
            },
            breakpoints: {
                992: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
            },
        });
    </script>
{% endblock %}