{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'pages/profile/tenders/index.css' %}" />
    <link rel="stylesheet" href="{% static 'pages/auth_choice/provider_choice/provider.css' %}" />
    {% endblock %}
{% block content %}
    <nav class="breadcrumbs bg-[#FFFFFC]">
      <div class="container">
        <div class="">
          <div class="flex gap-4 py-4">
            <div class="flex items-center gap-4">
              <img src="{% static 'assets/images/icons/home.svg' %}" alt="" />
              <img src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt="" />
            </div>
            <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
          </div>
        </div>
      </div>
    </nav>
    <main class="profile-myCompany">
      <div class="container my-16">
        <div
          class="flex lg-md:flex-row flex-col gap-7 lg-md:items-start items-center"
        >
          <!--  this section is for avatar  -->
          <section class="profile__navigate w-[278px]">
            <div class="container">
              <div class="shadow-card-shadow rounded-[10px] px-5 py-[15px]">
                <!-- upload avatar-->
                <div class="upload__avatar text-center flex justify-center">
                  <div class="relative">
                    <img
                      class="absolute right-0 bottom-0"
                      src="{% static 'assets/images/icons/camera-outline.svg' %}"
                      alt=""
                    />
                    <form
                      class="rounded-full overflow-hidden w-20 h-20"
                      action=""
                    >
                      <label
                        for="upload"
                        class="h-full flex-col items-center gap-2 cursor-pointer"
                      >
                        <img
                          class="object-cover h-full"
                          id="avatar"
                          src="{% static 'assets/images/icons/Avatar.svg' %}"
                          alt=""
                        />
                      </label>
                      <input id="upload" type="file" class="hidden" />
                    </form>
                  </div>
                </div>
                <h2 class="text-center text-lg font-semibold mt-2.5">
                  {{ user.first_name }}
                </h2>
                <!-- dropdown menu-->
                <div
                  class="dropdown mt-[30px] px-2.5 py-[15px] btn-outlined border-[#A0A0A080] hover:bg-transparent lg-md:hidden">
                  <button
                    class="dropdown__btn px-2.5 w-full flex items-center justify-between text-dark-text"
                  >
                    <p class="text-lg font-bold">Моя компания</p>
                    <img
                      class="w-5 h-5"
                      src="{% static 'assets/images/icons/ios-arrow.svg' %}"
                      alt=""
                    />
                  </button>
                  <ul
                    class="dropdown__menu h-0 text-dark-text overflow-hidden transition-all duration-300 ease-in text-lg"
                  >
                    <li class="dropdown__item">
                      <a href="{% url 'tender_list' %}"
                        >Закупки</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'product_list' %}"
                        >Товары</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'chat_list' %}{% else %}{% url 'login' %}{% endif %}"
                        >Сообщения</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'analytic' %}{% else %}{% url 'login' %}{% endif %}"
                        >Статистика</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'tariffs' %}{% else %}{% url 'login' %}{% endif %}"
                        >Premium тарифы</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'settings' %}{% else %}{% url 'login' %}{% endif %}"
                        >Настройки аккаунта</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'balance' %}{% else %}{% url 'login' %}{% endif %}">Баланс</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'favorites' %}{% else %}{% url 'login' %}{% endif %}"
                        >Избранные</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'send_message' %}"
                        >Служба поддержки</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- dropdown menu end-->
                <!-- desktop menu-->
                <div class="hidden lg-md:block">
                  <ul class="flex flex-col">
                    <li class="dropdown__item active">
                      <a href="{% if user.is_authenticated %}{% url 'view_profile' %}{% else %}{% url 'login' %}{% endif %}"
                        >Моя компания</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'tender_list' %}"
                        >Закупки</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'product_list' %}"
                        >Товары</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'chat_list' %}{% else %}{% url 'login' %}{% endif %}"
                        >Сообщения</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'analytic' %}{% else %}{% url 'login' %}{% endif %}"
                        >Статистика</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'tariffs' %}"
                        >Premium тарифы</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'settings' %}{% else %}{% url 'login' %}{% endif %}"
                        >Настройки аккаунта</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'balance' %}{% else %}{% url 'login' %}{% endif %}">Баланс</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="{% if user.is_authenticated %}{% url 'favorites' %}{% else %}{% url 'login' %}{% endif %}"
                        >Избранные</a
                      >
                    </li>
                    <li class="dropdown__item">
                      <a href="{% url 'send_message' %}"
                        >Служба поддержки</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- desktop menu end-->
              </div>
            </div>
          </section>
          <div
            class="cards flex flex-col justify-center text-center gap-9 py-16 px-20 rounded-[15px]"
          >
            <p class="text-[#4D4D4D] font-bold font-mulish text-xl">
              Какая основная цель регистрации на сайте?
            </p>
            <div class="flex items-center gap-7">
              <div
                class="flex items-center lg:gap-3 gap-2 bg-[#E4DB00] rounded-[7px] py-3 lg-md:px-9 px-3"
              >
                <img src="{% static 'assets/images/icons/cruise.svg' %}" alt="" />
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" value="provider" name="user_type">
                <button
                  class="text-[#2B292C] lg-md:uppercase lg-md:text-[14px] text-[16px] font-mulish"
                >
                  Продать товары оптом
                </button>
                </form>
              </div>
              <div
                class="flex items-center lg:gap-3 gap-2 bg-[#E4DB00] rounded-[7px] py-[14px] lg-md:px-9 px-3"
              >
                <img src="{% static 'assets/images/icons/basket.svg' %}" alt="" />
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" value="buyer" name="user_type">
                <button
                  class="text-[#2B292C] lg-md:uppercase lg-md:text-[14px] text-[16px] font-mulish"
                >
                  Купить товары оптом
                </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'pages/profile/tenders/index.js' %}"></script>
    <script src="{% static 'pages/profile/profile.js' %}"></script>
{% endblock %}