{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/home/index.css' %}">
{% endblock %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <main>
        <!-- hero -->
        <section class="hero animate__animated"
                 style="background: url({% static 'assets/images/home/hero-bg.jpg' %}) center no-repeat; background-size: cover;">
            <div class="container">
                <div class="hero__content sm:max-w-[410px]">
                    <h2 class="uppercase text-[1.375rem] font-black text-white overflow-hidden sm:text-[26px]">
                        мы поможем вам <br> найти
                        <div class="overflow-hidden inline-flex"><span id="heroTitle" class="inline-block"></span></div>
                    </h2>
                    <div class="flex" id="heroSearchWrapper">
                        <form id="search-form" action="/provider/list/"
                              class="relative flex flex-col lg-md:flex-row gap-2 mt-[30px] w-full">
                            <button type="button" id="heroFormBtn"
                                    class="btn-filled absolute w-max top-0 uppercase font-medium text-sm text-dark-logo transition-opacity duration-[1000ms] ease-in-out z-[1]">
                                Я ищу
                            </button>
                            <div id="heroSearch"
                                 class="relative w-0 overflow-hidden transition-all duration-[1500ms] ease-out">
                                <div class="absolute inset-y-0 end-0 flex items-center pe-3">
                                    <img id="heroSearchIconImg" src="{% static 'assets/images/icons/search.svg' %}"
                                         alt="Search icon">
                                </div>
                                <input id="default-search" type="text" name="title" value="" autocomplete="off"
                                       class="block w-full p-2 pe-10 text-sm text-gray-900 border border-logo-color rounded-md lg-md:py-[18px] lg-md:pl-[30px] lg-md:text-lg"
                                       placeholder="АКСЕССУАРЫ" required/>
                            </div>
                            <div id="heroSelect"
                                 class="custom-select bg-white w-0 flex overflow-hidden relative rounded-[5px] relative">
                                <div class="select-selected bg-gray-200 py-2 px-4 cursor-pointer text-lg flex items-center w-full p-4 relative pr-12"
                                     data-value="suppliers">
                                    Поставщики
                                </div>
                                <img class="w-5 h-5 absolute right-1 top-1/2 -translate-y-1/2"
                                     src="{% static 'assets/images/icons/ios-arrow.svg' %}" alt="">
                                <div class="select-items hidden absolute bg-white border border-gray-300 top-[60px] mt-1 w-fit z-[2]">
                                    <div class="py-2 px-4 cursor-pointer hover:bg-gray-100" data-value="provider">
                                        Поставщики
                                    </div>
                                    <div class="py-2 px-4 cursor-pointer hover:bg-gray-100" data-value="tender">
                                        Закупки
                                    </div>
                                    <div class="py-2 px-4 cursor-pointer hover:bg-gray-100" data-value="product">Товар
                                    </div>
                                </div>
                            </div>
                            <button id="heroSearchBtn" type="submit"
                                    class="btn-filled w-0 !p-0 max-w-[100px] overflow-hidden uppercase font-medium text-sm text-dark-logo transition-opacity duration-[1000ms] ease-in-out z-[1]">
                                Найти
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Поставщики Закупки Товары Покупатели -->
        <section class="business__segments my-[70px] sm:my-20 lg:my-[105px]">
            <div class="container">
                <div class="grid grid-cols-2 gap-4 lg-md:grid-cols-4">
                    <a href="/provider/list/">
                        <div class="activities suppliers">
                            <img class="absolute top-0 left-0" src="{% static 'assets/images/home/suppliers.jpg' %}"
                                 alt="">
                            <h2 class="text-xl font-bold text-white relative z-[1]">Поставщики</h2>
                        </div>
                    </a>
                    <a href="/tender/list/">
                        <div class="activities purchases">
                            <img class="absolute top-0 left-0" src="{% static 'assets/images/home/purchases.jpg' %}"
                                 alt="">
                            <h2 class="text-xl font-bold text-white relative z-[1]">Закупки</h2>
                        </div>
                    </a>
                    <a href="/product/list/">
                        <div class="activities products">
                            <img class="absolute top-0 left-0" src="{% static 'assets/images/home/products.jpg' %}"
                                 alt="">
                            <h2 class="text-xl font-bold text-white relative z-[1]">Товары</h2>
                        </div>
                    </a>
                    <a href="/buyer/list/">
                        <div class="activities buyers">
                            <img class="absolute top-0 left-0" src="{% static 'assets/images/home/buyers.jpg' %}"
                                 alt="">
                            <h2 class="text-xl font-bold text-white relative z-[1]">Покупатели</h2>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- category -->
        <section class="category black bg-dark text-white py-[60px]">
            {% include 'includes/caterorylist.html' %}
        </section>
        <!-- recommended products -->
        <section class="recommended__products mt-12">
            <div class="container relative">
                <h2 class="section__title text-lg md:text-2xl xl:text-3xl">рекомендуемые товары</h2>
                <div class="swiper recommended__slider mt-7">
                    <div class="swiper-wrapper">
                        {% for i in rec_products %}
                            <div class="swiper-slide" style="position: relative">
                                <a href="{% url 'product_detail' i.id %}" style="position: absolute; top:0; left: 0; width: 100%;height: 100%; z-index: 100"></a>

                                <div class="recommended__slide relative text-white p-4 xl:p-7">

                                    <img class="absolute top-0 left-0 w-full h-full object-cover -z-[1]"
                                         src="{% if i.image %}  {{ i.image.url }}{% else %}{% static 'assets/images/logo_4.svg' %}{% endif %}"
                                         alt="">
                                    <div class="slide__content flex flex-col justify-between h-full">
                                        <div>
                                            <span class="text-logo-color sm:text-lg">
                                                {% if i.terms_of_sale %}
                                                    {{ i.terms_of_sale }}
                                                {% endif %} </span>
                                             <h2 class="uppercase text-base font-black sm:text-3xl">{{ i.title }}</h2>
                                        </div>
                                        <a href="{% url 'product_detail' i.id %}"
                                           class="underline text-[#E8E8E8] sm:text-lg w-fit">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next custom-recommended-next">
                </div>
                <div class="swiper-button-prev custom-recommended-prev"></div>
            </div>
        </section>
        <!-- new products -->
        <section class="new__products mt-24">
            <div class="container relative">
                <h2 class="section__title text-lg md:text-2xl xl:text-3xl">новинки</h2>
                <div class="swiper new__slider mt-7">
                    <div class="swiper-wrapper">
                        {% for i in new_products %}
                            <div class="swiper-slide">
                                <div class="new__slide relative p-4 lg-md:p-6">
                                    <img class="absolute top-0 left-0 w-full h-full object-cover -z-[1]"
                                         src="


                                                 {% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/images/logo_4.svg' %} {% endif %}"
                                         alt="">
                                    <div class="relative flex flex-col justify-between h-full lg-md:block">
                                        <div>
                                            <span class="text-logo-color text-base sm:text-lg">{{ i.terms_of_sale }}</span>

                                            <a href="{% url 'product_detail' i.id %}"> <h2 class="text-base text-white uppercase font-black sm:text-3xl">{{ i.title }}</h2></a>
                                        </div>
                                        <div class=" lg-md:mt-10">
                                            <a href="/product/detail/{{ i.pk }}/"
                                               class="underline text-[#E8E8E8] sm:text-lg w-fit">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next swiper-button-next-new custom-new-next">
                </div>
                <div class="swiper-button-prev swiper-button-prev-new custom-new-prev"></div>
        </section>
        <!-- new companies -->
        <section class="new__companies mt-24">
            <div class="container">
                <h2 class="section__title text-lg md:text-2xl xl:text-3xl">Новые компании</h2>
                <div class="grid grid-cols-1 gap-4 mt-7 lg-md:grid-cols-2 lg-md:mt-14">
                    {% if new_providers %}
                        {% for i in new_providers %}
                            <div class="card flex flex-col relative p-[20px] rounded-[15px] lg-md:flex-row lg-md:items-center lg-md:gap-6">
                                <!-- card icons -->
                                <div class="absolute right-4 top-4 flex items-center gap-1.5">
                                    {% if i.is_recommended %}
                                        <img src="{% static 'assets/images/icons/premium.svg' %}" alt="">
                                    {% endif %}
                                    <svg
                                            {% if user.is_authenticated %}
                                                onclick="sendGetRequest({{ i.pk }})"
                                                {% if i in user.cabinet.favorite_providers.all %}
                                                class="transition-colors heart text-logo-color"
                                                {% else %}
                                                class="transition-colors heart"
                                                {% endif %}
                                            {% endif %}
                                                width="36" height="36" viewBox="0 0 36 36" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                        <rect width="36" height="36" rx="18" fill="#2B292C"></rect>
                                        <path
                                                d="M17.5014 11.3247C18.4725 10.4394 19.7396 9.96659 21.0424 10.0033C22.3452 10.04 23.5847 10.5835 24.5062 11.522C25.4269 12.4595 25.9606 13.7201 25.9979 15.0455C26.0352 16.3709 25.5732 17.6606 24.7068 18.6502L17.4997 26L10.2944 18.6502C9.42684 17.6601 8.96446 16.3693 9.00213 15.0428C9.03981 13.7164 9.57469 12.455 10.497 11.5175C11.4192 10.5801 12.6589 10.0378 13.9615 10.0019C15.2641 9.96603 16.5307 10.4393 17.5014 11.3247Z"
                                                fill="currentColor"></path>
                                        <path
                                                d="M17.7397 10.4902C18.8522 9.49437 20.3039 8.96241 21.7965 9.0037C23.289 9.04499 24.7091 9.65638 25.7648 10.7122C26.8196 11.7669 27.4311 13.1852 27.4738 14.6762C27.5165 16.1672 26.9873 17.6181 25.9946 18.7315L17.7378 27L9.48289 18.7315C8.48901 17.6176 7.95928 16.1654 8.00245 14.6732C8.04561 13.1809 8.6584 11.7618 9.71501 10.7072C10.7716 9.6526 12.1919 9.04248 13.6842 9.00214C15.1765 8.96179 16.6277 9.49426 17.7397 10.4902ZM24.3861 12.0881C23.6827 11.3852 22.7369 10.9781 21.7429 10.9504C20.7489 10.9227 19.782 11.2765 19.0406 11.9391L17.7407 13.1056L16.4399 11.9401C15.7015 11.2798 14.7393 10.9257 13.749 10.9497C12.7588 10.9738 11.815 11.3743 11.1095 12.0697C10.4041 12.765 9.99017 13.703 9.95189 14.6928C9.91361 15.6826 10.2539 16.6498 10.9035 17.3975L17.7387 24.2435L24.574 17.3985C25.2209 16.654 25.5612 15.6919 25.5263 14.7063C25.4914 13.7206 25.0839 12.7849 24.3861 12.0881Z"
                                                fill="#E4DB00"></path>
                                    </svg>
                                </div>
                                <div class="w-[30%] h-[30%] rounded-[10px] overflow-hidden lg-md:w-[120px] lg-md:h-[120px]">
                                    <img class="w-full h-full object-cover" src="


                                            {% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/images/logo_4.svg' %}{% endif %}"
                                         alt=""/>
                                </div>
                                <div class="mt-6 lg-md:w-[70%]">
                                    <div>
                                        <h6 class="pb-2 text-[18px] font-bold line-clamp-1">
                                            {{ i.title }}
                                        </h6>
                                        <p class="text-base text-dark-logo line-clamp-1">{{ i.provider.mini_descr }}</p>
                                    </div>
                                    <div class="flex mt-4 gap-4 max-w-[282px]">
                                        <a href="/provider/detail/{{ i.pk }}/"
                                           class="flex-grow btn-filled py-[7px] text-center">
                                            Подробнее
                                        </a>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'chat_create' i.user.pk %}"
                                               class="flex-grow btn-outlined py-[7px] text-center">
                                                Написать
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- new purchases -->
        <section class="new__purchases mt-24 mb-24 lg-md:mb-[120px]">
            <div class="container">
                <h2 class="section__title text-lg md:text-2xl xl:text-3xl">Новые закупки</h2>
                <div class="grid grid-cols-1 gap-4 mt-7 lg-md:grid-cols-2 lg-md:mt-14">
                    {% for i in tenders %}
                        <div class="card relative p-4 rounded-[15px] lg-md:flex lg-md:flex-col">
                            <!-- card icons -->
                            <div class="absolute right-4 top-4 flex items-center gap-1.5">
                                <svg
                                        {% if user.is_authenticated %}
                                            onclick="sendTenderRequest({{ i.pk }})"
                                            {% if i in user.cabinet.favorite_tenders.all %}
                                            class="transition-colors heart text-logo-color"
                                            {% else %}
                                            class="transition-colors heart"
                                            {% endif %}
                                        {% endif %}
                                            class="transition-colors heart"
                                            width="36" height="36" viewBox="0 0 36 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                    <rect width="36" height="36" rx="18" fill="#2B292C"></rect>
                                    <path
                                            d="M17.5014 11.3247C18.4725 10.4394 19.7396 9.96659 21.0424 10.0033C22.3452 10.04 23.5847 10.5835 24.5062 11.522C25.4269 12.4595 25.9606 13.7201 25.9979 15.0455C26.0352 16.3709 25.5732 17.6606 24.7068 18.6502L17.4997 26L10.2944 18.6502C9.42684 17.6601 8.96446 16.3693 9.00213 15.0428C9.03981 13.7164 9.57469 12.455 10.497 11.5175C11.4192 10.5801 12.6589 10.0378 13.9615 10.0019C15.2641 9.96603 16.5307 10.4393 17.5014 11.3247Z"
                                            fill="currentColor"></path>
                                    <path
                                            d="M17.7397 10.4902C18.8522 9.49437 20.3039 8.96241 21.7965 9.0037C23.289 9.04499 24.7091 9.65638 25.7648 10.7122C26.8196 11.7669 27.4311 13.1852 27.4738 14.6762C27.5165 16.1672 26.9873 17.6181 25.9946 18.7315L17.7378 27L9.48289 18.7315C8.48901 17.6176 7.95928 16.1654 8.00245 14.6732C8.04561 13.1809 8.6584 11.7618 9.71501 10.7072C10.7716 9.6526 12.1919 9.04248 13.6842 9.00214C15.1765 8.96179 16.6277 9.49426 17.7397 10.4902ZM24.3861 12.0881C23.6827 11.3852 22.7369 10.9781 21.7429 10.9504C20.7489 10.9227 19.782 11.2765 19.0406 11.9391L17.7407 13.1056L16.4399 11.9401C15.7015 11.2798 14.7393 10.9257 13.749 10.9497C12.7588 10.9738 11.815 11.3743 11.1095 12.0697C10.4041 12.765 9.99017 13.703 9.95189 14.6928C9.91361 15.6826 10.2539 16.6498 10.9035 17.3975L17.7387 24.2435L24.574 17.3985C25.2209 16.654 25.5612 15.6919 25.5263 14.7063C25.4914 13.7206 25.0839 12.7849 24.3861 12.0881Z"
                                            fill="#E4DB00"></path>
                                </svg>
                            </div>
                            <h6 class="pb-2 text-base lg-md:text-[18px] font-bold line-clamp-2 w-72 sm:w-11/12">
                                {{ i.title }}
                            </h6>
                            <ul class="text-[#686868] flex flex-col gap-4 lg-md:gap-5 mb-8 mt-6">
                                {% if i.quantity %}
                                    <li>Количество: <span class="text-dark-logo"> От {{ i.quantity }} шт.</span></li>

                                {% endif %}
                                <li>Бюджет: <span class="text-dark-logo">{{ i.price }} {% if i.currency %}
                                    {{ i.currency }} {% endif %}</span></li>
                                <!--                        <li>Объем: <span class="text-dark-logo">{{ i.type }}</span></li>-->
                            </ul>
                            <div class="flex items-end mt-4 gap-4 w-full lg-md:mt-auto">
                                <button class="flex-grow btn-filled py-[7px] lg-md:max-w-36">
                                    <a href="/tender/detail/{{ i.pk }}">Подробнее</a>
                                </button>
                                <span class="flex-grow text-end text-[#686868] font-normal">
                        {{ i.created_at }}
                        </span>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- other cards -->
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}
<!--{% load socialaccount %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Google Sign In</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Google Login</h2>-->
<!--    <a href="{% provider_login_url 'google' %}?next=/login_redirect/">Login With Google</a>-->
<!--    <h2>Facebook Login</h2>-->
<!--    <a href="{% provider_login_url 'facebook' %}?next=/login_redirect/">Login With Facebook</a>-->
<!--    <h2>VK Login</h2>-->
<!--    <a href="{% provider_login_url 'vk' %}?next=/login_redirect/">Login With VK</a>-->
<!--    <h2>Yandex Login</h2>-->
<!--    <a href="{% provider_login_url 'yandex' %}?next=/login_redirect/">Login With Yandex</a>-->
<!--</body>-->
<!--</html>-->