{% extends 'base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'pages/auth/reset_password.css' %}">
    {% endblock %}

{% block content %}
<main>
  <section class="mb-[130px]">
    <div class="container">
      <h1 class="uppercase font-bold text-center mt-14 lg-md:text-xl lg-md:mt-15">установка нового пароля</h1>
      <form
        class="shadow-card-shadow rounded-[15px] px-5 py-[30px] max-w-[530px] text-[#252B42] mx-auto mt-10 lg-md:p-10"
        action="" method="post">
        {% csrf_token %}
        <p class="lg-md:text-lg">Введите новый пароль для <span class="font-semibold">example@gmail.com</span></p>

        <div class="relative mt-5">
          <input id="password" type="password" class="form-input px-4 py-3 w-full" placeholder="Введите новый пароль"
                 required>
          <label for="toggle-password" class="cursor-pointer absolute top-1/2 right-4 -translate-y-1/2">
            <input type="checkbox" id="toggle-password" class="hidden" />
            <span class="password-icon" id="togglePassword" aria-hidden="true"></span>
          </label>
        </div>
        <button class="btn-filled-yellow uppercase w-full py-5 mt-[30px]">Сохранить</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
