{% extends 'base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'pages/auth/reset_password.css' %}">
    {% endblock %}

{% block content %}
<main>
  <section class="mb-[130px]">
    <div class="container">
        <h1 class="uppercase font-bold text-center mt-14 lg-md:text-xl lg-md:mt-15">
          ВОССТАНОВЛЕНИЕ ПАРОЛЯ
        </h1>
        <form class="shadow-card-shadow rounded-[15px] px-5 py-[30px] max-w-[530px] text-[#252B42] mx-auto mt-10 lg-md:p-10" action="" method="post">
          {% csrf_token %}

          {{ form.non_field_errors }}

            <p>Введите Ваш адрес электронной почты Email.</p>
            <p>Мы отправим Вам ссылку для восстановления.</p>
          <input style="margin-top:10px" type="email" name="email" placeholder="Email *" required />

          {% for error in form.old_password.errors %}
              <p class="error-message">{{ error }}</p>
          {% endfor %}

          <button type="submit" class="btn-filled-yellow uppercase w-full py-5 mt-[30px]">
            Восстановить пароль
          </button>
        </form>
      </div>
  </section>
</main>
{% endblock %}
