{% load static %}
<div class="lg-md:flex hidden justify-between items-center">
    <div class="flex items-center gap-5">
        <div class="flex items-center gap-2">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" id="prevPagee">
                    <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" alt="Назад">
                </a>
                <p id="prevPage" class="cursor-pointer"><a href="?page={{ page_obj.previous_page_number }}">Назад</a></p>
            {% else %}
                <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" alt="Назад" id="prevPagee">
                <p id="prevPage" class="cursor-pointer">Назад</p>
            {% endif %}
        </div>
        <ul class="pagination" id="pagination">
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="page"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="flex items-center gap-2">
            {% if page_obj.has_next %}
                <p id="nextPage" class="cursor-pointer"><a href="?page={{ page_obj.next_page_number }}">Вперед</a></p>
                <a href="?page={{ page_obj.next_page_number }}" id="nextPagee">
                    <img src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Вперед">
                </a>
            {% else %}
                <p id="nextPage" class="cursor-pointer">Вперед</p>
                <img src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Вперед" id="nextPagee">
            {% endif %}
        </div>
    </div>
    <div class="flex items-center gap-3">
        <p>Перейти на страницу</p>
        <form method="get">
            <input type="text" name="page" class="border border-[#A0A0A0] rounded-[5px] w-[89px] h-10 pl-4">
            <button type="submit">
                <img class="bg-[#FFFCB7] p-2 rounded-[5px]" src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}" alt="Перейти">
            </button>
        </form>
    </div>
</div>
