{% extends 'base.html' %}
{% load static %}
{% block title %}
Поставщики
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/suppliers/suppliers.css' %}">
{% endblock %}

{% block content %}
  <!-- main section -->
  <div class="suppliers-animation-container">
    <div>
      <div class="menu">
        <div class="container flex gap-4 py-4">
          <a href="/"><img src="{% static 'assets/images/suppliers/icons/home.svg' %}" alt="" /></a>
          <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" />
          <p class="font-normal font-mulish text-[#A0A0A0]">Поставщики</p>
        </div>
      </div>
      <div class="suppliers-wrapper">
        <div class="container">
          <div class="relative z-50 flex flex-col justify-center w-full">
            <h2 style="font-size: 36px" class="text-white font-extrabold sm:pb-8 text-center">
              поставщики
            </h2>
            <form class="mt-3">
              <div class="relative md:w-[600px] sm:w-[400px] m-auto">
                <div class="absolute inset-y-0 end-0 flex items-center pe-2">
                  <img src="{% static 'assets/images/icons/search.svg' %}" alt="Search icon" />
                </div>
                <input id="default-search"
                  class="p-2 pl-4 pe-10 text-sm text-[#9A9A9A] border border-grey-light rounded-md bg-[#FFFFFC] w-full"
                  placeholder="Например: автозапчасти" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- product categories -->

  <div class="pb-10">
      <div class="container">
        <h6
          class="text-center text-xl md:mb-10 mb-6 font-semibold uppercase font-mulish"
        >
          категории товаров
        </h6>
        <ul class="grid grid-cols-3 gap-4">
          {% for i in categories %}
          <li class="">
            <a class="flex items-center gap-[10px] w-fit" href="?category={{ i.pk }}">
              <div class="shadow-category-white text-white w-9 h-9 rounded-full overflow-hidden flex items-center justify-center lg-md:w-12 lg-md:h-12">
                <img src="{{ i.icon.url }}" alt="">
              </div>
              <span>{{ i.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <!-- Suppliers -->

  <div class="bg-[#FFFFFC] py-16">
    <div class="container">
      <h6 class="text-start lg-md:text-xl font-semibold uppercase font-mulish">
        ознакомьтесь со всеми рекомендуемыми и новыми поставщиками
      </h6>
      <div class="flex justify-between items-center md:my-10 md: mb-5 lg-md: mt-10">
        <ul class="cards suppliers flex items-center shadow shadow-[#B1B1B14D] rounded-[15px] h-[44px]">
          <li id="first"
            class="flex items-center gap-2 font-semibold active text-sm capitalize py-3 px-6 font-mulish focus:bg-[#FFFB98] hover:bg-[#FFFB98] text-center rounded-[15px]">
            все
            <img class="lg-md:hidden block" src="{% static 'assets/images/suppliers/suppliers/icons/arrow-down.svg' %}" />
          </li>
          <div class="lg-md:flex hidden">
            {% for i in types %}
            <li id="{{ i.pk }}"
              class="font-semibold text-sm capitalize py-3 px-6 font-mulish text-center rounded-[15px] hover:bg-[#FFFB98]">
              <a href="?type={{i.pk}}" data-type="{{ i.pk }}">{{ i.title }}</a>
            </li>
            {% endfor %}
          </div>
        </ul>

        <div class="flex gap-5">
          <div class="cards flex gap-2 items-center shadow shadow-[#B1B1B14D] rounded-[15px] py-3 px-6">
            Фильтр
            <img src="{% static 'assets/images/suppliers/suppliers/icons/filter.svg' %}" />
          </div>
          <div class="cards lg-md:flex hidden gap-2 items-center shadow shadow-[#B1B1B14D] rounded-[15px] py-3 px-6">
            Рекомендуем
            <a class="toggle-icon" id="toggleLink">
              <img src="{% static 'assets/images/suppliers/suppliers/icons/arrow-down.svg' %}" />
              <img src="{% static 'assets/images/suppliers/suppliers/icons/arrow-up.svg' %}" />
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-7">
        {% for provider in providers %}
        <div class="cards sm: relative flex  sm:justify-between items-start p-[20px] rounded-[15px]">
          <div class="flex md:flex-row flex-col  gap-7 md:items-center items-start  ">
             <img class="w-[100px] h-[100px]" src="{{ provider.image.url }}" />
            <div class="flex flex-col gap-6">
              <div>
                <h6 class="pb-2 text-[18px] font-extrabold font-mulish">
                  {{ provider.title }}
                </h6>
                <p>{{ provider.mini_descr }}</p>
              </div>
              <div class="flex gap-4">
                <button class="bg-[#E4DB00] px-6 py-3 rounded-[7px]">
                  <a href="/provider/detail/{{ provider.id }}">
                    Подробнее
                  </a>
                </button>
                <button class="border border-solid border-[#2B292C] px-6 py-3 rounded-[7px]">
                  Написать
                </button>
              </div>
            </div>
          </div>
          <ul class="flex gap-2 sm: absolute right-4">
            <li>
              <img src="{% static 'assets/images/suppliers/suppliers/icons/diamand.svg' %}" />
            </li>
            <li>
              <img src="{% static 'assets/images/suppliers/suppliers/icons/check.svg' %}" />
            </li>
            <li>
              <img src="{% static 'assets/images/suppliers/suppliers/icons/cruiz.svg' %}" />
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
      <div class="cards flex md:flex-row flex-col justify-center items-center bg-[#F6F6F6] my-7 rounded-[15px]">
        <img src="{% static 'assets/images/suppliers/suppliers/img/res-cross.png' %}" />
        <div class="flex flex-col gap-20 justify-between lg-md: mb-10">
          <div>
            <h5 class="text-[#934655] md:text-[34px] text-[20px] font-black">
              Nike Air Max 90 Futura
            </h5>
            <p class="font-mulish text-[#2B292C]">
              Оригинальные кроссовки Nike Air Max 90 Futura
            </p>
          </div>
          <div class="flex md: justify-center gap-1">
            <img class="md:max-w-[100px]" src="{% static 'assets/images/suppliers/suppliers/img/pink-cross.png' %}" />
            <img class="max-w-[106px]" src="{% static 'assets/images/suppliers/suppliers/img/white-croos.png' %}" />
            <img class="max-w-[106px]" src="{% static 'assets/images/suppliers/suppliers/img/hakki-cross.png' %}" />
          </div>
        </div>
      </div>

      <!-- pagination -->

      <div class="lg-md:flex hidden justify-between items-center">
        <div class="flex items-center gap-5">
          <div class="flex items-center gap-2">
            <img src="{% static 'assets/images/suppliers/suppliers/icons/prev.svg' %}" />
            <p>Назад</p>
          </div>
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="ellipsis">...</li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="ellipsis">...</li>
          </ul>
          <div class="flex items-center gap-2">
            <p>Вперед</p>
            <img src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}"/>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <p>Перейти на страницу</p>
          <input type="text" class="border border-[#A0A0A0] rounded-[5px] w-[89px] h-10" />
          <img class="bg-[#FFFCB7] p-2 rounded-[5px]" src="{% static 'assets/images/suppliers/suppliers/icons/next.svg' %}"
            alt="" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
<script>

const firstitem = document.getElementById('first');
const urlParams = new URLSearchParams(window.location.search);
// Если элемент найден, добавляем к нему класс

if (urlParams.has('type')){

    const listItem = document.getElementById(`${urlParams.get('type')}`);
    listItem.classList.add('active');  // Замените 'new-class' на желаемое имя класса
    firstitem.classList.remove('active');  // Замените 'new-class' на желаемое имя класса

}

document.addEventListener('DOMContentLoaded', function() {

    const links = document.querySelectorAll('a[data-type]');



    links.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault(); // Предотвратить стандартное поведение ссылки

            // Получаем текущий URL и его параметры
            const currentUrl = new URL(window.location.href);
            const params = currentUrl.searchParams;

            // Устанавливаем или изменяем параметр 'type' на значение из атрибута 'data-type'
            params.set('type', this.getAttribute('data-type'));

            // Перенаправляем пользователя на новый URL с обновлёнными параметрами
            window.location.href = currentUrl.toString();
        });
    });
});


</script>
<script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}