{% load static %}
<!-- under slider -->
<div class="cards w-full flex flex-col gap-4 p-5 rounded-2xl">
        <div class="flex items-center gap-3">
            <img src="{% static 'assets/images/icons/location.svg' %}" alt=""/>
            <p class="text-[#A0A0A0] font-normal text-[16px]">
                {% if provider.city %}
                    {{ provider.city }}   {% if provider.address %}{{ provider.address }}{% endif %}
                {% else %}
                    Адрес не указан

                {% endif %}
            </p>
        </div>

        <div class="flex items-center gap-3">
            <img src="{% static 'assets/images/icons/email.svg' %}" alt=""/>
            <a type="email" href="mailto:{{ provider.email }}" class="text-[#A0A0A0] font-normal text-[16px]">
                {% if provider.email %}
                    {{ provider.email }}
                {% else %}
                    Email не указан
                {% endif %}
            </a>
        </div>
        <div class="flex items-center gap-3">
            <img src="{% static 'assets/images/icons/call.svg' %}" alt=""/>
            <a type="phone" href="tel:{{ provider.phones }}" class="text-[#A0A0A0] font-normal text-[16px]">
                {% if provider.phones %}
                    {{ provider.phones }}
                {% else %}
                    Телефон не указан
                {% endif %}
            </a>
        </div>
        <div class="flex items-center gap-3">
            <img
                    src="{% static 'assets/images/icons/earth-location.svg' %}"
                    alt=""
            />
            {% if provider.web_site %}
                <a href="{{ provider.web_site }}" class="text-[#A0A0A0] font-normal text-[16px]">{{ provider.web_site }}</a>
            {% else %}
                Веб сайт не указан
            {% endif %}
        </div>
</div>
