/* Стили для метки */
.label {
    font-size: 18px;
    font-weight: 600;
    color: #2B292C;
    line-height: 27px;
}

/* Стили для подсказки */
.tooltip {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    margin-top: 20px;
}

/* Стили для полей ввода */
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 19px 20px;
    color: #2B292C;
    font-size: 14px;
    background: #F9F9F9;
    border-radius: 15px;
}

/* Дополнительные стили для полей ввода на больших экранах */
@media (min-width: 992px) {
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        margin-top: 26px;
    }
}

/* Стили для кнопки */
button {
    background-color: #FFD700;
    color: #2B292C;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 15px 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стили для кнопки при наведении */
button:hover {
    background-color: #FFC800;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: #FF0000; /* Красный цвет текста */
    font-size: 14px; /* Размер текста */
    margin-top: 5px; /* Отступ сверху */
}
