{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}">
  <link rel="stylesheet" href="{% static 'pages/profile/addProductToBuy/index.css' %}">
{% endblock %}
  {% block content %}
<main class="addProduct">
  <nav class="breadcrumbs bg-[#FFFFFC]">
    <div class="container">
      <div class="">
        <div class="flex gap-4 py-4">
          <div class="flex items-center gap-4">
            <img src="../../../../assets/images/icons/home.svg" alt="" />
            <img src="../../../../assets/images/icons/arrow-prev.svg" alt="" />
          </div>
          <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
        </div>
      </div>
    </div>
  </nav>
  <section class="heading">
    <div class="container">
      <h1 class="font-black text-dark-logo text-lg uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl">
        добавление закупки
      </h1>
    </div>
  </section>
  <div class="container">
    <div class="mt-[30px] lg-md:mt-0 lg-md:grid grid-cols-3 lg-md:gap-5 xl:grid-cols-4">
      <!--  this section is for avatar  -->
      <section class="main-content mt-[30px] lg-md:mt-[50px]">
                <div class="container">
                    <div class="shadow-card-shadow rounded-[10px] px-5 py-[15px]">
                        <!-- upload avatar-->
                        <div class="upload__avatar text-center flex justify-center">
                            <div class="relative">
                                <img class="absolute right-0 bottom-0"
                                     src="{% static 'assets/images/icons/camera-outline.svg' %}"
                                     alt="">
                                <form class="rounded-full overflow-hidden  w-20 h-20" action="">
                                    <label for="upload" class="h-full flex-col items-center gap-2 cursor-pointer">
                                        {% if user.provider.image %}

                                        <img class="object-cover h-full" id="avatar"
                                             src="{{ user.provider.image.url }}" alt="">
                                        {% else %}
                                        <img class="object-cover h-full" id="avatar"
                                             src="{% static 'assets/images/icons/Avatar.svg' %}" alt="">
                                        {% endif %}
                                    </label>
                                    {% csrf_token %}
                                    <input id="upload" type="file" class="hidden"/>
                                </form>
                            </div>
                        </div>
                        <h2 class="text-center text-lg font-semibold mt-2.5">{{ user.first_name }} {{  user.last_name }}</h2>
                        <!-- dropdown menu-->
                        <div class="dropdown mt-[30px] px-2.5 py-[15px] btn-outlined border-[#A0A0A080] hover:bg-transparent lg-md:hidden">
                            <button class="dropdown__btn px-2.5 w-full  flex items-center justify-between text-dark-text">
                                <p class="text-lg font-bold">Моя компания</p>
                                <img class="w-5 h-5" src="{% static 'assets/images/icons/ios-arrow.svg' %}" alt="">
                            </button>
                            <ul class="dropdown__menu h-0 text-dark-text overflow-hidden transition-all duration-300 ease-in text-lg">
                                <li class="dropdown__item">
                                    <a href="{% url 'user_tenders' %}">Закупки</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'user_products' %}">Товары</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'chat_list' %}">Сообщения</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'analytic' %}">Статистика</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'tariffs' %}">Premium тарифы</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'settings' %}">Настройки аккаунта</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'balance' %}">Баланс</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'favorites' %}">Избранные</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="">Служба поддержки</a>
                                </li>
                            </ul>
                        </div>
                        <!-- dropdown menu end-->
                        <!-- desktop menu-->
                        <div class="hidden lg-md:block">
                            <ul class="flex flex-col">
                                <li class="dropdown__item active">
                                    <a href="{% url 'view_profile' %}">Моя компания</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'user_tenders' %}">Закупки</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'user_products' %}">Товары</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'chat_list' %}">Сообщения</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'analytic' %}">Статистика</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'tariffs' %}">Premium тарифы</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'settings' %}">Настройки аккаунта</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'balance' %}">Баланс</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="{% url 'favorites' %}">Избранные</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="">Служба поддержки</a>
                                </li>
                            </ul>
                        </div>
                        <!-- desktop menu end-->
                    </div>
                </div>
            </section>
      <!-- these sections are for main content  -->
      <seciton class="main-content lg-md:mt-[50px] lg-md:col-span-2 xl:col-span-3 lg-md:mb-[120px]">
        <div class="card__wrapper mb-28 h-full tab-content shadow-card-shadow rounded-[10px] lg-md:mb-0">
          <div class="px-5 py-[25px] lg-md:px-10 lg-md:py-[27px]">
            <a
              class="flex items-center gap-2.5 font-semibold text-dark-logo border-b border-b-grey-light pb-[30px] lg-md:gap-[15px] lg-md:text-lg"
              href="/pages/profile/myCompany/index.html">
              <img src="/assets/images/icons/prev-arrow.svg" alt="">
              Добавление закупки
            </a>
            <div class="form mt-[30px]">
              <form class="space-y-[30px]">
                <div class="form__item">
                  <label class="label" for="name">Что вы хотите купить (кратко)</label>
                  <p class="tooltip">Например: Купим оптом женскую одежду и обувь</p>
                  <input id="name" type="text" placeholder="Например: наушники оптом">
                </div>
                <div class="form__item">
                  <label for="description">Описание</label>
                  <p class="tooltip">Укажите что хотите заказать, объем поставок, сроки, условия доставки
                    Не публикуйте контактные данные в описании</p>
                  <input id="description" type="text" placeholder="Например: наушники оптом">
                </div>
                <div class="form__item">
                  <label class="label">Список товаров</label>
                  <p class="tooltip">Введите необходимые товары через запятую.Пример: Платья, брюки, блузки…</p>
                  <input id="productList" type="text" placeholder="Например: наушники оптом">
                </div>
                <div class="form__item">
                  <label class="label">Телефон для связи</label>
                  <p class="tooltip">Телефон является необязательным, но крайне желательным
                    Он будет показан только заинтересованным поставщикам</p>
                  <input id="phone" type="text" placeholder="Например: Бишкек">
                  <button
                    class="btn-outlined mt-6 max-w-[210px] py-4 px-[31px] text-[#6E6E6E] text-[15px] lg-md:mt-[26px]">
                    Добавить телефон
                  </button>
                </div>
                <div class="form__item">
                  <label class="label">E-mail (публичный адрес электронной почты)</label>
                  <p class="tooltip">Для выбора города начните вводить название в поле ниже</p>
                  <input type="text" placeholder="Например: наушники оптом">
                </div>
                <div class="form__item">
                  <label class="label">Фотографии</label>
                  <p class="tooltip">Вы можете разместить примерные фотографии товаров, которые хотите закупить</p>
                  <!--  фотографии  -->
                  <div
                    class="photos__wrapper mt-6 grid grid-cols-[repeat(auto-fill,minmax(96px,96px))] gap-2.5 lg-md:grid-cols-[repeat(auto-fill,minmax(50px,50px))]">
                    <form class="relative">
                      <label for="file1"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file" id="file1" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview1">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon1">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                    <form class="relative">
                      <label for="file2"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file" id="file2" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview2">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon2">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                    <form class="relative">
                      <label for="file3"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file3" id="file3" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview3">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon3">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                    <form class="relative">
                      <label for="file4"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file" id="file4" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview4">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon4">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                    <form class="relative">
                      <label for="file5"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file" id="file5" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview5">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon5">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                    <form class="relative">
                      <label for="file6"
                             class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                        <div class="h-full w-full flex justify-center items-center">
                          <input type="file" name="file" id="file6" class="photos__input sr-only">
                          <!-- Image placeholder that will be replaced or shown when file is chosen -->
                          <img src="../../../assets/images/pink-boots.png" alt=""
                               class="hidden object-cover h-full w-full" id="preview6">
                          <!-- Default icon to show before file selection -->
                          <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                               xmlns="http://www.w3.org/2000/svg" id="icon6">
                            <path
                              d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                              fill="#BEBEBE" />
                          </svg>
                        </div>
                      </label>
                    </form>
                  </div>

                </div>
                <div class="form__item ">
                  <p class="tooltip">Срок размещения объявления</p>
                  <div class="period flex gap-2.5 mt-6">
                    <div
                      class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                      1 год
                    </div>
                    <div
                      class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                      6 мес
                    </div>
                    <div
                      class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                      3 мес
                    </div>
                    <div
                      class="period__item active py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                      1 мес
                    </div>
                  </div>
                </div>
                <div class="flex items-center gap-4 mt-10">
                  <button class="btn-filled-yellow flex-grow py-5 uppercase">Сохранить</button>
                  <button class="btn-outlined flex-grow py-5 uppercase">Отмена</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </seciton>
    </div>
  </div>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'pages/profile/addProductToBuy/index.js' %}"></script>
<script src="{% static 'pages/profile/profile.js' %}"></script>
{% endblock %}