{% extends 'base.html' %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'pages/profile/myCompany/index.css' %}">
{% endblock %}

{% block content %}
<nav class="breadcrumbs bg-[#FFFFFC]">
    <div class="container">
        <div class="">
            <div class="flex gap-4 py-4">
                <div class="flex items-center gap-4">
                    <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/home.svg' %}" alt=""/></a>
                    <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt=""/></a>
                </div>
                <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
            </div>
        </div>
    </div>
</nav>
<main class="profile-myCompany">
    <section class="heading">
        <div class="container">
            <h1
            class="font-black text-dark-logo text-lg mb-12 uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl">
                личный кабинет</h1>
        </div>
    </section>
    <div class="container">
        <div class="lg-md:grid grid-cols-3 lg-md:gap-5 xl:grid-cols-4">
            <!--  this section is for avatar  -->

                        <!-- dropdown menu-->
                {% include "cabinet/cabinet_includes/menu.html" with active_page='view_profile' %}

                        <!-- desktop menu end-->

            <!-- these sections are for main content  -->
            <section class="main-content mt-10 mb-28 lg-md:mt-[50px] lg-md:mb-[120px] lg-md:col-span-2 xl:col-span-3">
                <div class="container">
                    <div class="cards grid grid-cols-1 gap-[30px] xl:grid-cols-2">
                        <!--  Анкета  -->
                        <div class="card__item shadow-card-shadow">
                            <p class="text-[#FF4B4B]">{{ user.provider.comment }}</p>
{#                            <a href="{% if user.is_provider %}{% url 'anketa' %}{% else %}{% url 'anketa_buyer' %}{% endif %}">#}
                            <a href="{% url 'anketa' %}">
                            <button class="mt-[26px] btn-filled-yellow w-full uppercase py-2.5">Редактировать
                                анкету</button></a>
                            <a href="{% url 'tariffs' %}"
                               class="mt-4 border border-[#E4DB00] bg-[#2B292C] text-bg-white rounded-[15px] flex items-center justify-center w-full gap-2.5 py-[13px] ">
                                <img class="w-[23px] h-[23px]" src="{% static 'assets/images/icons/premium.svg' %}" alt="">
                                <span>Подключить <span class="uppercase">Premium</span> тариф</span>
                            </a>
                        </div>
                        <!--  Фотографии  -->
                        <div class="card__item photos text-dark-text shadow-card-shadow">
                            <h2 class="content__title">Фотографии</h2>
                            <p class="mt-3.5">На главной странице своей компании Вы можете разместить до 6
                                фотографий</p>
                            <!-- upload 6 photos -->
                            <div class="photos__wrapper mt-6 grid grid-cols-[repeat(auto-fill,minmax(96px,96px))] gap-2.5 lg-md:grid-cols-[repeat(auto-fill,minmax(50px,50px))]">
                                <form class="relative">
                                    <label for="file1"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file" id="file1" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if one %}
                                            <img src="{{ one.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview1">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview1">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                                <form class="relative">
                                    <label for="file2"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file" id="file2" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if two %}
                                            <img src="{{ two.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview2">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview2">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                                <form class="relative">
                                    <label for="file3"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file3" id="file3" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if three %}
                                            <img src="{{ three.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview3">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview3">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                                <form class="relative">
                                    <label for="file4"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file" id="file4" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if four %}
                                            <img src="{{ four.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview4">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview4">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                                <form class="relative">
                                    <label for="file5"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file" id="file5" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if five %}
                                            <img src="{{ five.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview5">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview5">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"/>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                                <form class="relative">
                                    <label for="file6"
                                           class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                        <div class="h-full w-full flex justify-center items-center">
                                            {% csrf_token %}
                                            <input type="file" name="file" id="file6" class="photos__input sr-only">
                                            <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                            {% if six %}
                                            <img src="{{ six.image.url }}" alt=""
                                                 class="object-cover h-full w-full" id="preview6">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" style="display: none" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            {% else %}
                                            <img src="{% static '' %}" alt=""
                                                 class="hidden object-cover h-full w-full" id="preview6">
                                            <!-- Default icon to show before file selection -->
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            {% endif %}
                                        </div>
                                    </label>
                                </form>
                            </div>
                            <!-- advice-->
                            <p class="relative mt-9 text-dark-logo leading-6">
                                <img class="absolute -left-[3px] -top-2.5 -z-[1] rotate-[49.07deg]"
                                     src="{% static 'assets/images/icons/bg-yellow-icon.svg' %}" alt="">
                                Совет: выберите самые яркие, качественные фото, чтобы привлечь больше клиентов
                            </p>
                        </div>
                        <!--  цены  -->
                        <div class="card__item price text-dark-text shadow-card-shadow">
                            <h2 class="content__title">Прайс</h2>
                            <p class="mt-3.5">Вы можете разместить прайс-листы, файлы, документы на Вашей странице</p>
                            <form class="relative mt-6">
                                <label for="price_file"
                                       class="border-2 overflow-hidden w-full px-4 h-12 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center">
                                    <div class="h-full w-full flex items-center">
                                        <input type="file" name="file" id="price_file" class="photos__input sr-only">
                                        <div class="flex items-center gap-2.5" id="price_icon">
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                      fill="#BEBEBE"></path>
                                            </svg>
                                            Добавить документ
                                        </div>
                                    </div>
                                </label>
                            </form>
                            <div class="uploaded_files flex flex-col gap-2.5 mt-8">
                            </div>
                            <p class="relative mt-9 text-dark-logo leading-6">
                                <img class="absolute -left-[3px] -top-2.5 -z-[1]"
                                     src="{% static 'assets/images/icons/bg-yellow-icon.svg' %}" alt="">
                                Вы можете загрузить документы в формате: .pdf, .doc, .xls
                            </p>
                        </div>
                        <!--  продукты  -->
                        <div class="card__item products text-dark-text shadow-card-shadow">
                            <h2 class="content__title">Продукты</h2>
                            {% if products %}
                                {% for i in products %}
                                     <div class="card__item !p-5 rounded-[10px] shadow-card-shadow lg-md:shadow-none lg-md:p-0 lg-md:rounded-none lg-md:border-t lg-md:border-t-grey-light lg-md:first:border-t-0">
                                        <a href="{% url 'product_update' i.pk %}" class="flex justify-between items-center">
                                            <div class="flex items-center gap-5">
                                                <div class="w-[clamp(40px,20vw,50px)] h-[clamp(40px,20vw,50px)] overflow-hidden rounded-full">
                                                    <img class="object-cover h-full"
                                                         src="{% if i.image %} {{ i.image.url }}{% else %} https://raw.githubusercontent.com/tturdumamatovv/Namito/main/assets/images/default-product.png {% endif %}"
                                                         alt="empty icon">
                                                </div>
                                                <p>{{ i.title }}</p>
                                            </div>
                                            <form action="{% url 'product_delete' i.id %}" method="post">
                                                <button type="submit">
                                                    {% csrf_token %}
                                            <img class="cursor-pointer w-6 h-6" src="{% static '/assets/images/icons/trash.svg' %}" alt="">
                                                    </button>
                                            </form>
                                        </a>
                                    </div>

                                {% endfor %}


                            {% else %}
                                <p class="mt-3.5">У Вас пока нет товаров</p>
                            {% endif %}
                            <a href="{% url 'user_products' %}"
                               class="flex items-center gap-2.5 mt-6 border-2 overflow-hidden w-full py-2 border-dashed border-[#AEAEAE] pl-5 rounded-lg flex  items-center">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                          fill="#BEBEBE"></path>
                                </svg>
                                Добавить
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'pages/profile/myCompany/index.js' %}"></script>
<script src="{% static 'pages/profile/profile.js' %}"></script>
    <script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}