{% extends 'base.html' %}
{% load static %}

{% block title %}Отправка сообщения{% endblock %}

{% block content %}
<div class="container mt-10 mb-20">
  <div class="flex flex-col w-full gap-10">
    <h1 class="text-[#2B292C] sm:text-[36px] text-[20px] font-black text-center uppercase">
       Отправка сообщения
    </h1>
    <div class="shadow-card-shadow bg-[#FFFFFF] flex flex-col gap-5 sm:p-10 p-4 rounded-2xl md:w-[50%] mx-auto">
      <div class="flex items-center gap-[15px]">
        <a href="{% url 'view_profile' %}">
          <img src="{% static 'assets/images/icons/prev-arrow.svg' %}" alt="Назад"/>
        </a>
        <span class="font-semibold text-[#2B292C]">Техподдержка Meebuy</span>
      </div>
      <hr class="h-[2px] bg-[#A0A0A0] w-full" />

      <form method="post" action="{% url 'send_message' %}">
        {% csrf_token %}
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <label for="name" class="text-[#2B292C] text-[18px] font-semibold">Ваше ФИО</label>
            {{ form.name }}
          </div>
          <div class="flex flex-col gap-4">
            <label for="phone" class="text-[#2B292C] text-[18px] font-semibold">Ваш номер телефона</label>
            {{ form.phone }}
          </div>
          <div class="flex flex-col gap-4">
            <label for="email" class="text-[#2B292C] text-[18px] font-semibold">Ваш e-mail</label>
            {{ form.email }}
          </div>
          <div class="flex flex-col gap-4">
            <label for="message" class="text-[#2B292C] text-[18px] font-semibold">Ваше сообщение</label>
            {{ form.message }}
          </div>
          <div class="flex flex-col gap-4">
            <label for="regret_to_register" class="text-[#2B292C] text-[18px] font-semibold">Основная цель для регистрации</label>
            {{ form.regret_to_register }}
          </div>
        </div>
          <br>
        <!-- reCAPTCHA widget -->
        <div class="g-recaptcha my-3" data-sitekey="{{ secret }}"></div>

        <!-- confirm -->
<div class="flex items-center gap-[10px] mt-2">
          <input type="checkbox" name="agree_to_policy" class="h-6 w-6" id="id_agree_to_policy" required>
          <p class="text-[#777777] text-[16px] font-normal">
            Я ознакомился и согласен с условиями <a href="#" class="underline">Политики</a>
          </p>
        </div>
        <!-- button -->
        <button type="submit" class="font-medium text-[#2B292C] uppercase py-4 rounded-lg w-full bg-[#E4DB00] mt-6">
          отправить
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'pages/home/index.js' %}"></script>
{% endblock %}
