{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/tariffs2/tariffs.css' %}">
{% endblock %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
    <nav class="breadcrumbs bg-[#FFFFFC]">
        <div class="container">
            <div class="">
                <div class="flex gap-4 py-4">
                    <div class="flex items-center gap-4">
                        <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/home.svg' %}"/></a>
                        <a href="{% url 'view_profile' %}"><img
                                src="{% static 'assets/images/icons/arrow-prev.svg' %}"/></a>
                    </div>
                    <p class="font-normal font-mulish text-[#A0A0A0]">Тарифы</p>
                </div>
            </div>
        </div>
    </nav>
    <main class="tariffs">
        <div class="container p-10">
            <div class="tar-con">
                <div class="tarrif-cover">
                    {% for status in statuses %}
                        <form action="/connect_tariff?id={{ status.id }}" method="get">
                            <div class="tarif-card {% if status.is_recomended %}recommended{% endif %}">
                                <div class="tarif-fixed_head flex flex-col items-center">
                                    {% if status.is_recomended %}
                                        <img src='{% static 'assets/images/tariffs/recommended.svg' %}'
                                             alt='Recommended'/>
                                        <span style="color: white; float: left">Рекомендуем</span>{% endif %}
                                </div>
                                <div class="tarif-header">
                                    <div class="tarif-title">
                                        <img src="{% static '/assets/images/icons/premium.svg' %}"
                                             alt="{{ status.title }}"/>
                                        <h3>{{ status.title }}</h3>
                                    </div>
                                    {% if status.packagestatuses.first.priorety == 0 or status.packagestatuses.first.priorety == 1 %}
                                        <img src="{% static 'assets/images/tariffs/tarif-free.png' %}"
                                             alt="{{ status.title }}"
                                             style="width: 96px; height: 107px; object-fit: cover; margin: 0 auto;"/>
                                    {% elif status.packagestatuses.first.priorety == 2 or status.packagestatuses.first.priorety == 3 %}
                                        <img src="{% static 'assets/images/tariffs/tarif-premium-lite.png' %}"
                                             alt="{{ status.title }}"
                                             style="width: 96px; height: 107px; object-fit: cover; margin: 0 auto;"/>
                                    {% else %}
                                        <img src="{% static 'assets/images/tariffs/tariff-premium-standard.png' %}"
                                             alt="{{ status.title }}"
                                             style="width: 96px; height: 107px; object-fit: cover; margin: 0 auto;"/>
                                    {% endif %}
                                </div>

                                <div class="tarif-options">
                                    <h2 class="tarif-price">
                                        <strong> {{ status.price_month }} </strong> сом / в месяц
                                    </h2>
                                    <div class="tarif-selected-period">
                                        <p>При оплате за</p>
                                        <strong></strong>
                                    </div>
                                    <div class="tarif-total-amount">
                                        <p>Итого: <strong>{{ status.packagestatuses.first.price }} сом</strong></p>
                                        <!-- Предполагается первый выбор -->
                                    </div>

                                    <div class="tarif-options_values">
                                        <h5>Срок подключения</h5>
                                        <div class="tarifs-options_selects">
                                            {% for package in status.packagestatuses.all %}
                                                <div class="option">
                                                    <input type="radio" data-price="{{ package.price }}"
                                                           data-month-amount="{{ package.months }}"
                                                           name="id"
                                                           value="{{ package.id }}"
                                                           id="period_{{ status.id }}{{ forloop.counter }}"
                                                           {% if forloop.first %}checked{% endif %}/>
                                                    <label for="period_{{ status.id }}{{ forloop.counter }}">{{ package.months }}
                                                        мес.</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>


                                </div>

                                <div class="tarif-info">
                                    <div class="tarif-info_block">
                                        {% if status.packagestatuses.first.priorety == 0 %}
                                            <img src="{% static 'assets/images/tariffs/graph-free.png' %}" alt="Chart"
                                                 style="margin: 0 auto">
                                            <p>Самая низкая позиция в каталоге, компанию трудно найти среди других</p>
                                        {% elif status.packagestatuses.first.priorety == 1 %}
                                            <img src="{% static 'assets/images/tariffs/graph-free.png' %}" alt="Chart"
                                                 style="margin: 0 auto">
                                            <p>Низкая позиция в каталоге, компанию трудно найти среди других</p>
                                        {% elif status.packagestatuses.first.priorety == 2 %}
                                            <img src="{% static 'assets/images/tariffs/graph-premium-lite.svg' %}"
                                                 alt="Chart" style="margin: 0 auto">
                                            <p>Средняя позиция в каталоге, компанию находят чаще</p>
                                        {% elif status.packagestatuses.first.priorety == 3 %}
                                            <img src="{% static 'assets/images/tariffs/graph-premium-standard.svg' %}"
                                                 alt="Chart" style="margin: 0 auto">
                                            <p>Средняя позиция в каталоге, компанию находят еще чаще</p>
                                        {% elif status.packagestatuses.first.priorety == 4 %}
                                            <img src="{% static 'assets/images/tariffs/graph-premium-max.svg' %}"
                                                 alt="Chart" style="margin: 0 auto">
                                            <p>Самая высокая позиция, больше всего обращений</p>
                                        {% endif %}
                                    </div>

                                    <div class="tarif-info_block">
                                        <img src="{% static '/assets/images/icons/box.svg' %}" alt=""/>
                                        <span>{{ status.quantity_opening }}</span>
                                        <p>Открытий закупок в месяц (на срок 1 мес.)</p>
                                    </div>
                                    <div class="tarif-info_block">
                                        <img src="{% static '/assets/images/icons/message.svg' %}" alt=""/>
                                        <span>{{ status.dayly_message }}</span>
                                        <p>Исходящих сообщений в день</p>
                                    </div>
                                    <div class="tarif-info_block">
                                        <span>{{ status.quantity_products }}</span>
                                        <p>Лимит товаров</p>
                                    </div>
                                </div>
                                <div class="button-cover">
                                {% if not user.is_authenticated %}

                                <a href='#loginModal' data-bs-toggle='modal'>
                                    <button type="submit" style="padding: 10px 20px">
                                        {% if actual_tariff == status.id %}
                                            Обновить

                                        {% else %}
                                            Подключить
                                        {% endif %}
                                    </button>
                                </a>
                                    {% else %}
                                <a href='/connect_tariff?id={{ status.id }}'>
                                    <button type="submit" style="padding: 10px 20px">
                                        {% if actual_tariff == status.id %}
                                            Обновить

                                        {% else %}
                                            Подключить
                                        {% endif %}
                                    </button>
                                </a>
                                {% endif %}
                                    <br>
                                </div>
                            </div>
                        </form>

                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <section class="companies bg-[#FAFAFA] py-12 mt-[92px] lg-md:mt-[100px]">
        <div class="container">
            <h2 class="uppercase font-bold text-dark-logo text-center lg-md:text-xl">
                нам доверяют более 100 компаний кыргызстана, казахстана и россии
            </h2>
            <div class="grid grid-cols1 sm:grid-cols-2 gap-[50px] mt-6 lg-md:gap-[30px] lg-md:flex lg-md:justify-center lg-md:items-center">
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-hooli.svg' %}" alt=""/>
                </div>
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-lya.svg' %}" alt=""/>
                </div>
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-leaf.svg' %}" alt=""/>
                </div>
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-stripe.svg' %}" alt=""/>
                </div>
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-aws.svg' %}" alt=""/>
                </div>
                <div class="flex justify-center lg-md:w-1/6">
                    <img src="{% static 'assets/images/tariffs/company-reddit.svg' %}" alt=""/>
                </div>
            </div>
        </div>


    </section>

    <section class="questions mt-[100px] lg-md:mt-20">
        <div class="container px-5">
            <h2 class="text-lg font-black text-dark-logo uppercase text-center lg-md:text-xl lg:text-3xl">
                Часто задаваемые вопросы
            </h2>
            <div class="questions__accordions mt-7 lg-md:mt-12">
                {% for faq in faqs %}
                    <div class="accordion py-[26px] border-t border-t-[#A4A4A4]">
                        <!-- title -->
                        <div class="accordion__title cursor-pointer accordion-toggle flex items-center justify-between">
                            <p class="text-lg font-semibold text-dark-logo">
                                {{ faq.question }}
                            </p>
                            <img class="arrow -rotate-90 w-6 h-6 transition-all duration-500 ease skew-y-6"
                                 src="{% static 'assets/images/icons/arrow-prev.svg' %}" alt=""/>
                        </div>
                        <!-- content -->
                        <div class="accordion__content overflow-hidden transition-all duration-500 ease h-0 text-dark-text leading-7 pr-6 mt-2">
                            {{ faq.answer }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="max-w-[522] text-center mt-10">
            <p class="text-lg text-dark-text">
                Не нашли ответ на свой вопрос? Вы можете написать нам на
                <br class="hidden sm:block">
                <a href="{{ token.support_whatsapp }}" class="underline underline-offset-2">WhatsApp</a> или

                <a href="{{ token.support_telegram }}" class="underline underline-offset-2">Telegram</a>
            </p>
        </div>
    </section>
    <section class="access-to-purchases mt-24 lg-md:mt-28 pb-24">
        <div class="container px-5">
            <div class="max-w-[750px] mx-auto">
                <h2 class="text-lg font-bold text-dark-logo uppercase text-center lg-md:text-xl">
                    доступ к закупкам
                </h2>
                <p class="text-[#000000] font-normal leading-6 mt-7 lg-md:mt-10">
                    Компании с PREMIUM тарифом получают расширенный доступ к разделу закупки, где каждый день
                    публикуются сотни новых объявлений об оптовых закупках. А вы можете связываться с клиентами
                    напрямую и предлагать свою продукцию.
                    Что важно, мы не собираем объявления из других источников. Клиенты исключительно самостоятельно
                    размещают объявления, что гарантирует их эксклюзивность, качество и актуальность.
                </p>
            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script src="{% static 'pages/tariffs2/tarif.js' %}"></script>
{% endblock %}