{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'pages/profile/addProductToBuy/index.css' %}">
    <style>
        .text-red-500 {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <main class="addProduct">
        <nav class="breadcrumbs bg-[#FFFFFC]">
            <div class="container">
                <div class="">
                    <div class="flex gap-4 py-4">
                        <div class="flex items-center gap-4">
                            <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/home.svg' %}"/></a>
                            <a href="{% url 'home' %}"><img
                                    src="{% static 'assets/images/icons/arrow-prev.svg' %}"/></a>

                        </div>
                        <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
                    </div>
                </div>
            </div>
        </nav>
        <section class="heading">
            <div class="container">
                <h1
                        class="font-black text-dark-logo text-lg mb-12 uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl">
                    добавление закупки
                </h1>
            </div>
        </section>
        <div class="container">
            <div class="mt-[30px] lg-md:mt-0 lg-md:grid grid-cols-3 lg-md:gap-5 xl:grid-cols-4">
                <!--  this section is for avatar  -->

                <!-- dropdown menu-->
                {% include "cabinet/cabinet_includes/menu.html" with active_page='user_tenders' %}

                <!-- desktop menu end-->


                <!-- these sections are for main content  -->
                <seciton class="main-content lg-md:mt-[50px] lg-md:col-span-2 xl:col-span-3 lg-md:mb-[120px]">
                    <div class="card__wrapper mb-28 h-full shadow-card-shadow rounded-[10px] lg-md:mb-0">
                        <div class="px-5 py-[25px] lg-md:px-10 lg-md:py-[27px]">
                            <a
                                    class="flex items-center gap-2.5 font-semibold text-dark-logo border-b border-b-grey-light pb-[30px] lg-md:gap-[15px] lg-md:text-lg"
                                    href="{% url 'user_tenders' %}">
                                <img src="{% static '/assets/images/icons/prev-arrow.svg' %}" alt="">
                                Добавление закупки
                            </a>
                            <div class="form mt-[30px]">
                                <form class="space-y-[30px]" action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}

                                    <div class="form__item">
                                        <label class="label" for="name">Что вы хотите купить (кратко)</label>
                                        <p class="tooltip">Например: Купим оптом женскую одежду и обувь</p>
                                        <input id="name" name="title" type="text"
                                               placeholder="Например: наушники оптом" value="
                                                {% if form.description.value %}{{ form.description.value }}{% else %}{% endif %}">
                                        {% if form.title.errors %}
                                            <div class="text-red-500 text-sm">{{ form.title.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label for="description">Описание</label>
                                        <p class="tooltip" style="margin-bottom: 10px">Укажите что хотите заказать,
                                            объем поставок, сроки, условия доставки
                                            Не публикуйте контактные данные в описании</p>
                                        <textarea id="description" name="description" type="text"
                                                  placeholder="Например: наушники оптом">
                                            {% if form.description.value %}{{ form.description.value }}{% endif %}
                                        </textarea>
                                        {% if form.description.errors %}
                                            <div class="text-red-500 text-sm">{{ form.description.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">Список товаров</label>
                                        <p class="tooltip">Введите необходимые товары через запятую.Пример: Платья,
                                            брюки, блузки…</p>
                                        <input id="requirements" type="text" name="requirements"
                                               placeholder="Например: наушники оптом" value="

                                                {% if form.requirements.value %}{{ form.requirements.value }}{% endif %}">
                                        {% if form.requirements.errors %}
                                            <div class="text-red-500 text-sm">{{ form.product_list.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">Место реализации</label>
                                        <p class="tooltip">Введите место реализации</p>
                                        <input id="place_of_sale" type="text" name="place_of_sale"
                                               placeholder="Например: маркетплейс" value="

                                                {% if form.place_of_sale.value %}{{ form.place_of_sale.value }}{% endif %}">
                                        {% if form.place_of_sale.errors %}
                                            <div class="text-red-500 text-sm">{{ form.place_of_sale.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">Бюджет</label>
                                        <p class="tooltip">Введите бюджет</p>
                                        <input id="price" type="text" name="price" placeholder="Например: 10000"
                                               value="{% if form.price.value %}{{ form.price.value }}{% endif %}">
                                        {% if form.price.errors %}
                                            <div class="text-red-500 text-sm">{{ form.price.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div
                                            class="flex gap-[30px] lg-md:flex-row flex-col lg-md:items-center w-full"
                                    >
                                        <div class="flex flex-col gap-1 lg-md:w-[50%] w-full">
                                            <h6 class="text-[#2B292C] font-semibold text-[18px]">Валюта</h6>
                                            <p class="text-[#4D4D4D] text-[16px] font-light mb-3">
                                                Например: KGS
                                            </p>
                                            <label>
                                                <select name="currency"
                                                        class=" relative outline-none px-4 lg-md:w-[47.6%] w-full bg-[#F9F9F9] border border-[#E6E6E6] py-4 rounded-[15px]">
                                                    {% for currency in currencies %}

                                                        <option value="{{ currency.id }}"
                                                                {% if object.currency == currency.code %}
                                                                selected
                                                                {% endif %}
                                                        >{{ currency.name }} - {{ currency.code }}</option>
                                                    {% endfor %}

                                                    <img
                                                            class="absolute right-7 top-6 mr-7"
                                                            src="{% static 'assets/images/icons/arrow-down.svg' %}"
                                                            alt=""
                                                    />
                                                </select>
                                                {% if form.currency.errors %}
                                                    <div class="text-red-500 text-sm">{{ form.currency.errors }}</div>
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="flex flex-col gap-1 lg-md:w-[50%] w-full">
                                            <h6 class="text-[#2B292C] font-semibold text-[18px]">
                                                Минимальное количество заказа
                                            </h6>
                                            <p class="text-[#4D4D4D] text-[16px] font-light mb-3">
                                                Например: 10
                                            </p>
                                            <label>
                                                <input
                                                        class="pl-5 bg-[#F9F9F9] border border-[#E6E6E6] py-4 rounded-[15px]"
                                                        type="number"
                                                        value="{{ form.min_quantity.value|default_if_none:'' }}"
                                                        name="min_quantity"
                                                />
                                                {% if form.min_quantity.errors %}
                                                    <div class="text-red-500 text-sm">
                                                        {{ form.min_quantity.errors }}
                                                    </div>
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                    <div

                                    <div class="form__item">
                                        <label class="label">Количество</label>
                                        <p class="tooltip">Введите Количество</p>
                                        <input id="quantity" type="text" name="quantity" placeholder="Например: 1000"
                                               value="{% if form.quantity.value %}{{ form.quantity.value }}{% endif %}">
                                        {% if form.quantity.errors %}
                                            <div class="text-red-500 text-sm">{{ form.quantity.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">Телефон для связи</label>
                                        <p class="tooltip">Телефон является необязательным, но крайне желательным
                                            Он будет показан только заинтересованным поставщикам</p>
                                        <input name="phone" id="phone" type="text" placeholder="Например: Бишкек"
                                               value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}">
                                        {% if form.phone.errors %}
                                            <div class="text-red-500 text-sm">{{ form.phone.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">E-mail (публичный адрес электронной почты)</label>
                                        <p class="tooltip">Для выбора города начните вводить название в поле ниже</p>
                                        <input name="email" type="text" placeholder="Например: наушники оптом"
                                               value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                                        {% if form.email.errors %}
                                            <div class="text-red-500 text-sm">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form__item">
                                        <label class="label">Фотографии</label>
                                        <p class="tooltip">Вы можете разместить примерные фотографии товаров, которые
                                            хотите закупить</p>
                                        <!--  фотографии  -->
                                        <div
                                                class="photos__wrapper mt-6 grid grid-cols-[repeat(auto-fill,minmax(96px,96px))] gap-2.5 lg-md:grid-cols-[repeat(auto-fill,minmax(50px,50px))]">
                                            <div class="relative">
                                                <label for="file1"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file1"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview1">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon1">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="relative">
                                                <label for="file2"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file2"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview2">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon2">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="relative">
                                                <label for="file3"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file3"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview3">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon3">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="relative">
                                                <label for="file4"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file4"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview4">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon4">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="relative">
                                                <label for="file5"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file5"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview5">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon5">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="relative">
                                                <label for="file6"
                                                       class="border-2 overflow-hidden w-full h-24 border-dashed border-[#AEAEAE] rounded-lg flex justify-center items-center lg-md:w-[50px] lg-md:h-[50px]">
                                                    <div class="h-full w-full flex justify-center items-center">
                                                        <input type="file" name="file" id="file6"
                                                               class="photos__input sr-only">
                                                        <!-- Image placeholder that will be replaced or shown when file is chosen -->
                                                        <img src="{% static 'assets/images/pink-boots.png' %}" alt=""
                                                             class="hidden object-cover h-full w-full" id="preview6">
                                                        <!-- Default icon to show before file selection -->
                                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" id="icon6">
                                                            <path
                                                                    d="M5.71951 14V8.1833H0V5.67413H5.71951V0H8.30894V5.67413H14V8.1833H8.30894V14H5.71951Z"
                                                                    fill="#BEBEBE"></path>
                                                        </svg>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form__item">
                                            <p class="tooltip">Срок размещения объявления</p>
                                            <div class="period flex gap-2.5 mt-6">
                                                <label for="period-12"
                                                       class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                                                    <input name="period" id="period-12" type="radio" value="365"
                                                           class="sr-only"> 1 год</label>
                                                <label class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                                                    <input name="period" id="period-6" type="radio" value="180"
                                                           class="sr-only"> 6 мес</label>
                                                <label class="period__item py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                                                    <input name="period" id="period-3" type="radio" value="90"
                                                           class="sr-only"> 3 мес</label>
                                                <label class="period__item active py-4 px-3.5 text-black border border-grey-light rounded-[10px] transition-colors">
                                                    <input name="period" id="period-1" type="radio" value="30"
                                                           class="sr-only" checked> 1 мес</label>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-4 mt-10">
                                            <button type="submit" class="btn-filled-yellow flex-grow py-5 uppercase">
                                                Сохранить
                                            </button>
                                            <button class="btn-outlined flex-grow py-5 uppercase">Отмена</button>
                                        </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </seciton>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'pages/profile/addProductToBuy/index.js' %}"></script>
    <script src="{% static 'pages/profile/profile.js' %}"></script>
{% endblock %}