<nav class="breadcrumbs bg-[#FFFFFC]">
  <div class="container">
    <div class="">
      <div class="flex gap-4 py-4">
        <div class="flex items-center gap-4">
                     <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/home.svg' %}" /></a>
                  <a href="{% url 'home' %}"><img src="{% static 'assets/images/icons/arrow-prev.svg' %}" /></a>
        </div>
        <p class="font-normal font-mulish text-[#A0A0A0]">Личный кабинет</p>
      </div>
    </div>
  </div>
</nav>
<main class="profile-myCompany">
  <section class="heading">
    <div class="container">
      <h1
        class="font-black text-dark-logo text-lg uppercase text-center sm:text-2xl lg-md:text-3xl xl:text-4xl"
      >
        личный кабинет
      </h1>
    </div>
  </section>
  <div class="container">
    <div
      class="lg-md:grid grid-cols-3 pb-[100px] lg-md:pb-[120px] lg-md:gap-5 xl:grid-cols-4"
    >
      <!--  this section is for avatar  -->
      <section class="profile__navigate mt-[30px] lg-md:mt-[50px]">
        <div class="shadow-card-shadow rounded-[10px] px-5 py-[15px]">
          <!-- upload avatar-->
          <div class="upload__avatar text-center flex justify-center">
            <div class="relative">
              <img
                class="absolute right-0 bottom-0"
                src="../../../assets/images/icons/camera-outline.svg"
                alt=""
              />
              <form class="rounded-full overflow-hidden w-20 h-20" action="">
                <label
                  for="upload"
                  class="h-full flex-col items-center gap-2 cursor-pointer"
                >
                  <img
                    class="object-cover h-full"
                    id="avatar"
                    src="../../../assets/images/icons/Avatar.svg"
                    alt=""
                  />
                </label>
                <input id="upload" type="file" class="hidden" />
              </form>
            </div>
          </div>
          <h2 class="text-center text-lg font-semibold mt-2.5">Асанов Асан</h2>
          <!-- dropdown menu-->
          <div
            class="dropdown mt-[30px] px-2.5 py-[15px] btn-outlined border-[#A0A0A080] hover:bg-transparent lg-md:hidden"
          >
            <button
              class="dropdown__btn px-2.5 w-full flex items-center justify-between text-dark-text"
            >
              <p class="text-lg font-bold">Закупки</p>
              <img
                class="w-5 h-5"
                src="../../../assets/images/icons/ios-arrow.svg"
                alt=""
              />
            </button>
            <ul
              class="dropdown__menu h-0 text-dark-text overflow-hidden transition-all duration-300 ease-in text-lg"
            >
              <li class="dropdown__item">
                <a href="/pages/profile/purchases/myCompany.html"
                  >Моя компания
                </a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/products/myCompany.html">Товары</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/messages/myCompany.html">Сообщения</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/statistics/myCompany.html"
                  >Статистика</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/premiumRates/myCompany.html"
                  >Premium тарифы</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/settings/myCompany.html"
                  >Настройки аккаунта</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/balance/myCompany.html">Баланс</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/favorites/myCompany.html">Избранные</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/supportService/myCompany.html"
                  >Служба поддержки</a
                >
              </li>
            </ul>
          </div>
          <!-- dropdown menu end-->
          <!-- desktop menu-->
          <div class="hidden lg-md:block">
            <ul class="flex flex-col">
              <li class="dropdown__item">
                <a href="/pages/profile/purchases/myCompany.html"
                  >Моя компания</a
                >
              </li>
              <li class="dropdown__item active">
                <a href="/pages/profile/purchases/myCompany.html">Закупки</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/products/myCompany.html">Товары</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/messages/myCompany.html">Сообщения</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/statistics/myCompany.html"
                  >Статистика</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/premiumRates/myCompany.html"
                  >Premium тарифы</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/settings/myCompany.html"
                  >Настройки аккаунта</a
                >
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/balance/myCompany.html">Баланс</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/favorites/myCompany.html">Избранные</a>
              </li>
              <li class="dropdown__item">
                <a href="/pages/profile/supportService/myCompany.html"
                  >Служба поддержки</a
                >
              </li>
            </ul>
          </div>
          <!-- desktop menu end-->
        </div>
      </section>
      <div class="lg-md:col-span-2 xl:col-span-3">
        <!-- these sections are for main content  -->
        <section
          class="main-content mt-[30px] h-[calc(100%-50px)] lg-md:mt-[50px]"
        >
          <!-- auto search  -->
          <div
            class="card__wrapper h-[calc(100%-70px)] tab-content shadow-card-shadow rounded-[10px] mt-[30px]"
          >
            <!-- if empty  -->
            <div class="card__item">
              <button
                class="max-w-[364px] btn btn-outlined text-sm py-2.5 w-full text-dark-logo uppercase"
              >
                Доавить новую закупку
              </button>

              <div
                class="divide-y divide-grey-light space-y-5 lg-md:space-y-[26px] mt-[60px] lg-md:mt-[50px]"
              >
                <div
                  class="flex flex-col first:pt-0 pt-5 lg-md:pt-[26px] lg-md:flex-row lg-md:justify-between lg-md:items-center"
                >
                  <div>
                    <h2
                      class="line-clamp-2 text-lg font-extrabold text-dark-logo"
                    >
                      Керамические, глиняные кружки
                    </h2>
                    <p class="text-dark-text">
                      Опубликовано до 07.09.2024 - <br class="lg-md:hidden" /><a
                        class="underline underline-offset-2"
                        href=""
                        >Продлить</a
                      >
                    </p>
                  </div>
                  <div class="flex gap-2.5 mt-[30px] justify-end lg-md:mt-0">
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/pen-broken.svg"
                      alt="Pencil"
                    />
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/trash.svg"
                      alt="Trash"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col first:pt-0 pt-5 lg-md:pt-[26px] lg-md:flex-row lg-md:justify-between lg-md:items-center"
                >
                  <div>
                    <h2
                      class="line-clamp-2 text-lg font-extrabold text-dark-logo"
                    >
                      Керамические, глиняные кружки
                    </h2>
                    <p class="text-dark-text">
                      Опубликовано до 07.09.2024 - <br class="lg-md:hidden" /><a
                        class="underline underline-offset-2"
                        href=""
                        >Продлить</a
                      >
                    </p>
                  </div>
                  <div class="flex gap-2.5 mt-[30px] justify-end lg-md:mt-0">
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/pen-broken.svg"
                      alt="Pencil"
                    />
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/trash.svg"
                      alt="Trash"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col first:pt-0 pt-5 lg-md:pt-[26px] lg-md:flex-row lg-md:justify-between lg-md:items-center"
                >
                  <div>
                    <h2
                      class="line-clamp-2 text-lg font-extrabold text-dark-logo"
                    >
                      Керамические, глиняные кружки
                    </h2>
                    <p class="text-dark-text">
                      Опубликовано до 07.09.2024 - <br class="lg-md:hidden" /><a
                        class="underline underline-offset-2"
                        href=""
                        >Продлить</a
                      >
                    </p>
                  </div>
                  <div class="flex gap-2.5 mt-[30px] justify-end lg-md:mt-0">
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/pen-broken.svg"
                      alt="Pencil"
                    />
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/trash.svg"
                      alt="Trash"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col first:pt-0 pt-5 lg-md:pt-[26px] lg-md:flex-row lg-md:justify-between lg-md:items-center"
                >
                  <div>
                    <h2
                      class="line-clamp-2 text-lg font-extrabold text-dark-logo"
                    >
                      Керамические, глиняные кружки
                    </h2>
                    <p class="text-dark-text">
                      Опубликовано до 07.09.2024 - <br class="lg-md:hidden" /><a
                        class="underline underline-offset-2"
                        href=""
                        >Продлить</a
                      >
                    </p>
                  </div>
                  <div class="flex gap-2.5 mt-[30px] justify-end lg-md:mt-0">
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/pen-broken.svg"
                      alt="Pencil"
                    />
                    <img
                      class="w-[17px] h-[17px] cursor-pointer"
                      src="/assets/images/icons/trash.svg"
                      alt="Trash"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<script src="./index.js"></script>
<script src="../profile.js"></script>
