{% load math_tags %}
<div id="category-block"
        {% if categories_change == 2 %}
     style="display: block"
        {% else %}
     style="display: none"

        {% endif %}

     class="cards sm:p-9 p-5">
  <div class="flex flex-col gap-14 rounded-2xl">
    <div class="flex flex-col items-start">
      <div>
        <h6 class="text-[#2B292C] font-bold sm:text-[20px] text-[18px] pb-3">
          Как добавить категорию?
        </h6>
        <p
          class="text-[#757575] font-normal sm:text-[18px] text-[16px] font-mulish"
        >
          Если Вы собираетесь добавлять товары вручную, сначала создайте
          структуру категорий вашего каталога, чтобы затем помещать товары в
          нужную категорию.
        </p>
      </div>
      {% if category_tree %}
      <h6 class="text-[#4D4D4D] font-black lg-md:text-[20px] text-[18px]">
        Ваши категории
      </h6>
      <ul>
        {% for category, level in category_tree %}
        <a href="{% url 'edit_category' category.id %}"
          ><li
            class="text-[#909090] font-normal sm:text-[18px] text-[16px] font-mulish"          >
            {% nesting_level level %}{{ category.name }}
          </li></a>
        {% endfor %}
      </ul>
      {% else %}
      <div class="mt-1">
        <p
          class="text-[#757575] font-normal sm:text-[18px] text-[16px] font-mulish"
        >
          Пример структуры каталога:
        </p>
        <h6 class="text-[#4D4D4D] font-black lg-md:text-[20px] text-[18px]">
          -Женская одежда
        </h6>
        <ul class="text-[#757575] font-normal text-[18px] font-mulish">
          <li class="text-[#757575] font-bold text-[18px] font-mulish">
            ---Верхняя одежда
          </li>
          <li
            class="text-[#909090] font-normal sm:text-[18px] text-[16px] font-mulish"
          >
            -------Пальто
          </li>
          <li
            class="text-[#909090] font-normal sm:text-[18px] text-[16px] font-mulish"
          >
            -------Пуховики
          </li>
          <li
            class="text-[#909090] font-normalsm:text-[18px] text-[16px] font-mulish"
          >
            -------Шубы
          </li>
          <li class="text-[#757575] font-bold text-[18px] font-mulish">
            ---Платья
          </li>
          <li
            class="text-[#909090] font-normal sm:text-[18px] text-[16px] font-mulish"
          >
            -------Вечерние платья
          </li>
          <li
            class="text-[#909090] font-normal sm:text-[18px] text-[16px] font-mulish"
          >
            -------Повседневные платья
          </li>
        </ul>
      </div>
      {% endif %}
    </div>

    <button
      type="submit"
      id="add-category"
      class="border border-[#2B292C] rounded-lg py-3 sm:text-[22px] text-[16px] font-mulish font-medium uppercase"
    >
      добавить категорию
    </button>
  </div>
</div>
