.edit__profile p {
    font-size: 17px;
    color: #757575;
    line-height: 25.5px;
}

.edit__profile p.light {
    font-weight: 300;
}

.edit__profile .label {
    font-size: 18px;
    font-weight: 600;
    color: #2B292C;
    line-height: 27px;
}

.edit__profile .tooltip {
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    margin-top: 20px;
}

.edit__profile input[type="text"],
.edit__profile input[type="tel"],
.edit__profile select,
.edit__profile textarea
{
    margin-top: 24px;
}

@media (min-width: 992px) {
    .edit__profile input[type="text"],
    .edit__profile input[type="tel"] {
        margin-top: 26px;
    }
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

span.active {
    color: #008000;
}

.tree__item--parent img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tree__item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radioInput:checked ~ div .dot {
    background-color: black;
}

.checkboxInput:checked ~ .checkmark {
    background-color: #BAB306;
    border-color: #BAB306;
}

.checkboxInput:checked ~ .checkmark:after {
    content: '';
    display: block;
    width: 16px;
    height: 10px;
    background: url("/assets/images/icons/checkIcon.svg") no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}