<div class="flex flex-col items-start gap-7">
    <h6 class="text-[#2B292C] text-[20px] font-bold font-mulish">
        {{ product.title }}
    </h6>
    <div class="flex flex-row gap-2 font-light">
        <p class="text-[#4D4D4D] text-[18px] font-mulish">

        </p>
        {% if product.small_wholesale and product.medium_wholesale_price %}
            <div class="flex flex-col-reverse shrink-0 items-center gap-5 " style="padding-right: 8px;border-right: 1px solid #000;">
                <p class="text-[#4D4D4D] text-[18px] font-mulish">
                    от {{ product.small_wholesale }}

                </p>
                <span class="text-[#2B292C] text-[18px] font-extrabold">
                    {{ product.small_wholesale_price }}
                    {% if product.currency %}
                    {{ product.currency }}
                    {% endif %}</span>
            </div>
        {% endif %}
        {% if product.medium_wholesale and product.medium_wholesale_price  %}
                        <div class="flex flex-col-reverse shrink-0 items-center gap-5 border-r" style="padding-right: 8px;border-right: 1px solid #000;">
                <p class="text-[#4D4D4D] text-[18px] font-mulish">
                   от {{ product.medium_wholesale }} <
                </p>
                <span class="text-[#2B292C] text-[18px] font-extrabold">
                    {{ product.medium_wholesale_price }}
                    {% if product.currency %}
                    {{ product.currency }}
                    {% endif %}</span>
                    </div>
        {% endif %}
        {% if product.large_wholesale and product.large_wholesale_price %}
            <div class="flex flex-col-reverse shrink-0 items-center gap-5">
                <p class="text-[#4D4D4D] text-[18px] font-mulish">
                    от {{ product.large_wholesale }} <
                </p>
                <span class="text-[#2B292C] text-[18px] font-extrabold">
                    {{ product.large_wholesale_price }}
                    {% if product.currency %}
                    {{ product.currency }}
                    {% endif %}</span>
            </div>
        {% endif %}
    </div>
<div class="flex flex-col gap-2">
            {% for price in prices %}
            <div class="flex items-center gap-5">
                <p class="text-[#4D4D4D] text-[18px] font-mulish">
                    {{ price.name }} {% if price.min_order_amount %}- от {{ price.min_order_amount }}{% endif %}
                </p>
                <span class="text-[#2B292C] text-[18px] font-extrabold"
                >{{ price.price|floatformat:price.decimal }} {% if product.currency %}
                    {{ product.currency }} {% endif %}</span>
            </div>

        {% endfor %}
</div>
    <a href="{% if user.is_authenticated %}{% url 'chat_create' product.provider.user.id %}{% else %}{% url 'login' %}{% endif %}">
        <button
                class="uppercase py-3 px-4 rounded-lg border border-[#2B292C]"
        >
            Начать чат
        </button>
    </a>
    <p
            class="lg-md:w-[443px] font-normal text-[16px] font-mulish text-[#4D4D4D]"  style="white-space: pre-line"
    >
        {{ product.description }}
    </p>
</div>
