<div class="flex flex-col items-start gap-7">
    <h6 class="text-[#2B292C] text-[20px] font-bold font-mulish">
        {{ product.title }}
    </h6>
    <div class="flex flex-col gap-2 font-light">
        {% for price in prices %}
            <div class="flex items-center gap-5">
                <p class="text-[#4D4D4D] text-[18px] font-mulish">
                    {{ price.name }}
                </p>
                <span class="text-[#2B292C] text-[18px] font-extrabold"
                >{{ price.price|floatformat:price.decimal }} {% if product.currency %}
                    {{ product.currency }} {% endif %}</span
                >
            </div>

        {% endfor %}


    </div>
    <a href="
            {% if user.is_authenticated %}{% url 'chat_create' product.provider.user.id %}{% else %}{% url 'login' %}{% endif %}">
        <button
                class="uppercase py-3 px-4 rounded-lg border border-[#2B292C]"
        >
            Офорить заказ
        </button>
    </a>
    <p
            class="lg-md:w-[443px] font-normal text-[16px] font-mulish text-[#4D4D4D]"
    >
        {{ product.description }}
    </p>
</div>
